// === GAME PROGRESS === //
.game-progress {
	// = BLOCK = //
	&__block {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: rem(8);
		@media (max-width: rem(767.98)) {
			grid-gap: rem(5);
		}
	}
	// = ROW = //

	&__row {
		display: grid;
		grid-template-columns: 1fr rem(170) 1fr;
		grid-auto-rows: 1fr;
		grid-gap: rem(8);

		@media (max-width: rem(1199.98)) {
			grid-template-columns: 1fr rem(150) 1fr;
		}

		@media (max-width: rem(991.98)) {
			grid-template-columns: 1fr rem(130) 1fr;
		}

		@media (max-width: rem(767.98)) {
			grid-template-columns: rem(140) 1fr;
			grid-gap: rem(5);
		}

		@media (max-width: rem(659.98)) {
			grid-template-columns: rem(120) 1fr;
		}

		@media (max-width: rem(449.98)) {
			grid-template-columns: rem(100) 1fr;
		}

		@media (max-width: rem(359.98)) {
			grid-template-columns: rem(88) 1fr;
		}
	}

	// = ITEM = //
	&__item {
		font-family: $fontFamily;
		position: relative;
		height: 100%;
		width: 100%;
	}
	&__item-1 {
		grid-column: 1 / span 1;
		@media (max-width: $mobile) {
			grid-column: 2 / span 1;
		}
	}
	&__item-2 {
		grid-column: 2 / span 1;
		@media (max-width: $mobile) {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}
	}
	&__item-3 {
		grid-column: 3 / span 1;
		@media (max-width: $mobile) {
			grid-column: 2 / span 1;
		}
	}
	&__item-left {
		color: $mainColor;
		background-color: $white;
		text-align: right;
		display: flex;
		overflow: hidden;
		justify-content: space-between;
		border: rem(1) solid $color-base-1;
		border-radius: rem(10);

		@media (max-width: $mobile) {
			text-align: left;
			flex-direction: row-reverse;
		}
	}
	&__item-right {
		color: $mainColor;
		background-color: $white;
		border: rem(1) solid $color-base-1;
		border-radius: rem(10);
		overflow: hidden;
		text-align: left;
		display: flex;
		justify-content: space-between;
	}

	// = ITEM CORNER = //
	&__item-left-corner {
		transition: all 0.5s ease 0s;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-top: 0px solid transparent;
		border-left: 60px solid $color-base-1;
		border-bottom: 60px solid transparent;
		@media (max-width: rem(767.98)) {
			border-left: none;
			border-right: 60px solid $color-base-1;
			left: auto;
			right: 0;
		}
		@media (max-width: rem(499.98)) {
			border-right: 40px solid $color-base-1;
			border-bottom: 40px solid transparent;
		}
	}
	&__item-right-corner {
		transition: all 0.5s ease 0s;
		z-index: 2;
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border-top: 0px solid transparent;
		border-right: 60px solid $color-base-4;
		border-bottom: 60px solid transparent;
		@media (max-width: rem(499.98)) {
			border-right: 40px solid $color-base-4;
			border-bottom: 40px solid transparent;
		}
	}

	// = ITEM PHOTO = //

	&__item-photo {
		@include adaptiveValue("width", 120, 100, 1600, 1250, 1);
		@include adaptiveValue("height", 120, 100, 1600, 1250, 1);
		border-radius: rem(10);
		border: rem(1) solid $color-base-5;
		margin: rem(6);
		overflow: hidden;
		background-color: $white;
		position: absolute;
		bottom: 0;
		z-index: 1;

		@media (max-width: rem(991.98)) {
			@include adaptiveValue("width", 80, 70, 991.98, 767.98, 1);
			@include adaptiveValue("height", 80, 70, 991.98, 767.98, 1);
		}

		@media (max-width: $mobile) {
			@include adaptiveValue("width", 100, 70, 767.98, 579.98, 1);
			@include adaptiveValue("height", 100, 70, 767.98, 579.98, 1);
		}

		@media (max-width: rem(579.98)) {
			width: rem(65);
			height: rem(65);
		}
	}
	&__item-photo-left {
		@media (max-width: $tablet) {
			left: 0;
		}

		@media (max-width: $mobile) {
			left: auto;
			right: 0;
		}
	}
	&__item-photo-right {
		right: 0;
	}

	// = ITEM LOGO / LOGO-BG = //
	&__item-logo {
		@include adaptiveValue("min-width", 120, 90, 1600, 1249.98, 1);
		@include adaptiveValue("height", 120, 90, 1600, 1249.98, 1);
		align-self: flex-end;
		//margin: rem(8);
		overflow: hidden;
		position: absolute;
		bottom: 0;
		@media (max-width: $tablet) {
			@include adaptiveValue("min-width", 80, 70, 991.98, 767.98, 1);
			@include adaptiveValue("height", 80, 70, 991.98, 767.98, 1);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("min-width", 100, 70, 767.98, 579.98, 1);
			@include adaptiveValue("height", 100, 70, 767.98, 579.98, 1);
		}
		@media (max-width: rem(579.98)) {
			min-width: rem(65);
			height: rem(65);
		}
	}

	&__item-logo img {
		padding: rem(5);
	}
	&__item-logo-left {
		@media (max-width: $tablet) {
			left: 0;
		}
		@media (max-width: $mobile) {
			left: auto;
			right: 0;
		}
	}
	&__item-logo-right {
		right: 0;
	}
	&__item-logo-bg {
		height: rem(160);
		width: rem(160);
		opacity: 0.1;
		margin: rem(5);
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 0;
		@media (max-width: rem(767.98)) {
			height: rem(140);
			width: rem(140);
		}
		@media (max-width: rem(449.98)) {
			height: rem(130);
			width: rem(130);
		}
	}
	&__item-logo-bg-left {
		left: 10%;
		@media (max-width: rem(767.98)) {
			left: auto;
			right: 10%;
		}
	}
	&__item-logo-bg-right {
		right: 10%;
	}

	// = ITEM CONTENT = //
	&__item-content {
		width: 100%;
		padding: 6px 8px 6px 8px;
		@media (max-width: $mobile) {
			padding: 6px 6px 6px 8px;
		}
	}
	// === GAME PROGRESS ITEM TITLE === //

	&__item-title {
		font-weight: 900;
		color: $mia_red;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 26, 20, 1600, 991.98, 1);
		@include adaptiveValue("line-height", 32, 26, 1600, 991.98, 1);
		@media (max-width: rem(549.98)) {
			@include adaptiveValue("font-size", 20, 16, 549.98, 389.98, 1);
			@include adaptiveValue("line-height", 26, 22, 549.98, 389.98, 1);
		}
	}
	&__item-title span {
		color: $color-base-1;
	}
	&__item-title-bg {
		font-weight: 900;
		color: $color-base-1;
		text-transform: uppercase;
		padding: rem(5);
		opacity: 0.1;
		position: absolute;
		bottom: 0;
		@include adaptiveValue("font-size", 90, 40, 1600, 768, 1);
		@include adaptiveValue("line-height", 90, 40, 1600, 768, 1);
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 70, 34, 767.98, 360, 1);
			@include adaptiveValue("line-height", 70, 34, 767.98, 360, 1);
		}
	}
	&__item-title-bg span {
		font-family: $fontFamily;
	}
	&__item-title-bg-left {
		right: 0;
		@media (max-width: rem(767.98)) {
			right: auto;
			left: 0;
		}
	}
	&__item-title-bg-right {
		left: 0;
	}

	// = ITEM INFO = //
	&__item-info {
		font-weight: 400;
		text-transform: uppercase;
		color: $mainColor;
		@include adaptiveValue("font-size", 16, 14, 1600, 991.98, 1);
		//@include adaptiveValue("line-height", 22, 20, 1600, 991.98, 1);
		line-height: rem(20);
		@media (max-width: rem(499.98)) {
			@include adaptiveValue("line-height", 18, 16, 499.98, 389.98, 1);
			@include adaptiveValue("font-size", 12, 10, 499.98, 389.98, 1);
		}
	}

	// = INFO-ROW = //
	&__info-row {
		display: flex;
		gap: rem(4);
		width: 100%;
	}
	&__info-row-left {
		text-align: right;
		justify-content: end;

		@media (max-width: $mobile) {
			text-align: left;
			justify-content: start;
		}
	}

	// = ACTION = //
	&__action {
		//font-weight: 900;
		color: $mainColor;

		> span {
			color: $mia_red;
		}
	}

	// = NUM = //
	&__num {
		color: $color-base-1;
		//font-family: $fontFamily;
		font-weight: 900;
	}

	&__name {
		text-transform: capitalize;
	}

	&__name span {
		@media (max-width: rem(899.98)) {
			display: none;
		}

		@media (max-width: $mobile) {
			display: inline-block;
		}

		@media (max-width: rem(408.98)) {
			display: none;
		}
	}
	// = ITEM EVENT = //
	&__item-event {
		padding: 10px 5px 10px 5px;
		text-align: center;
		border-radius: rem(10);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: rem(180);

		@media (max-width: rem(767.98)) {
			height: rem(160);
		}

		@media (max-width: rem(449.98)) {
			height: rem(150);
		}
	}

	&__item-event-score {
		font-family: $fontFamily;
		color: $white;
		background-color: $color-base-1;
		border: rem(1) solid $color-base-4;
	}

	&__item-event-time {
		font-family: $fontFamily;
		color: $mainColor;
		background-color: $color-base-5;
		border: rem(1) solid $color-base-4;
	}

	&__item-event-info {
		background-color: $color-base-7;
		border: rem(1) solid $color-base-4;
		color: $white;
	}
	// === GAME PROGRESS ITEM EVENT-CONTENT === //
	&__item-event-top {
	}

	&__item-event-bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__event-period {
		text-transform: uppercase;
		@include adaptiveValue("font-size", 16, 14, 1600, 1200, 1);
		@include adaptiveValue("line-height", 24, 22, 1600, 1200, 1);

		@media (max-width: rem(659.98)) {
			font-size: rem(12);
			line-height: rem(20);
		}

		@media (max-width: rem(359.98)) {
			font-size: rem(10);
			line-height: rem(18);
		}
	}

	&__event-time {
		font-weight: 900;
		letter-spacing: rem(1);
		@include adaptiveValue("font-size", 22, 20, 1600, 1200, 1);
		@include adaptiveValue("line-height", 32, 30, 1600, 1200, 1);

		@media (max-width: rem(659.98)) {
			font-size: rem(18);
			line-height: rem(28);
		}

		@media (max-width: rem(359.98)) {
			font-size: rem(16);
			line-height: rem(26);
		}
	}

	&__event-score {
		font-weight: 900;
		color: $white;
		@include adaptiveValue("font-size", 32, 28, 1600, 1200, 1);
		@include adaptiveValue("line-height", 46, 42, 1600, 1200, 1);

		@media (max-width: rem(1199.98)) {
			@include adaptiveValue("font-size", 28, 24, 1199.98, 991.98, 1);
			@include adaptiveValue("line-height", 42, 38, 1199.98, 991.98, 1);
		}

		@media (max-width: rem(659.98)) {
			@include adaptiveValue("font-size", 22, 18, 659.98, 449.98, 1);
			@include adaptiveValue("line-height", 30, 26, 659.98, 449.98, 1);
		}

		@media (max-width: rem(359.98)) {
			font-size: rem(16);
			line-height: rem(30);
		}
	}

	&__event-border {
		width: 60%;
		height: rem(5);
		background-color: $color-base-4;
		border-radius: rem(3);
	}

	&__event-label {
		text-transform: uppercase;
		display: inline-block;
		margin: 8px 0px 0px 0px;
		font-weight: 400;
		letter-spacing: rem(1);
		line-height: rem(18);
		font-size: rem(12);

		@media (max-width: rem(659.98)) {
			font-size: rem(10);
			line-height: rem(18);
			margin: 6px 0px 0px 0px;
		}

		@media (max-width: rem(359.98)) {
			font-size: rem(8);
			line-height: rem(16);
		}
	}
}

// ============================== //
