// === HEAD TO HEAD === //
.head-to-head {
	// = BOX = //
	&__box {
		.calendar-slider__item.swiper-slide > div > div {
			//border: rem(1) solid $color-base-1;
			//border-radius: rem(3);
		}
	}

	// = SCORE = //

	&__score {
		font-family: $fontFamily;
		color: $color-base-4;
		font-weight: 900;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(6);
		@include adaptiveValue("font-size", 60, 40, 1600, 991.98, 1);
		@include adaptiveValue("line-height", 60, 40, 1600, 991.98, 1);
	}
	&__score-left {
		text-align: right;
		@include adaptiveValue("width", 64, 44, 1600, 991.98, 1);
	}
	&__score-center {
		text-align: center;
	}
	&__score-right {
		text-align: left;
		@include adaptiveValue("width", 64, 44, 1600, 991.98, 1);
	}
}
