// === CONTACT FORM === //
.contact-form {
	// = MAP = //
	&__map {
		background-color: $color-base-7;
		border-radius: rem(10) rem(10) 0px 0px;
		border: rem(1) solid $color-base-1;
	}

	// = BOX = //
	&__box {
	}

	// = CONTENT = //
	&__content {
		display: grid;
		grid-template-columns: rem(400) 1fr;
		background: $color-base-7;
		color: $white;
		padding: 40px 40px 40px 40px;
		border-radius: 0px 0px rem(10) rem(10);
		border: rem(1) solid $color-base-1;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: $shadow-1;
			}
		}
		@media (max-width: rem(1319.98)) {
			grid-template-columns: rem(300) 1fr;
			padding: 40px 20px 40px 20px;
		}
		@media (max-width: rem(991.98)) {
			grid-template-columns: rem(270) 1fr;
		}
		@media (max-width: rem(767.98)) {
			height: 100%;
			display: flex;
			flex-direction: column-reverse;
		}
		@media (max-width: rem(549.98)) {
			padding: 30px 10px 30px 10px;
		}
	}
	// = LEFT SIDE = //
	&__left-side {
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		@media (max-width: rem(767.98)) {
			margin-top: 40px;
			flex-direction: row;
			gap: rem(20);
			width: 100%;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		@media (max-width: rem(549.98)) {
			justify-content: center;
			flex-direction: column;
		}
	}
	&__left-side::before {
		content: "";
		position: absolute;
		height: 70%;
		width: 2px;
		background: #afafb6;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		@media (max-width: rem(767.98)) {
			display: none;
		}
	}

	// = RIGHT SIDE = //
	&__right-side {
		margin: 0px 0px 0px 75px;
		@media (max-width: rem(767.98)) {
			width: 100%;
			margin: 0px 0px 0px 0px;
		}
	}
	&__right-side p {
		margin: 0px 0px 20px 0px;
		@media (max-width: rem(1199.98)) {
			line-height: 150%;
			font-size: rem(14);
		}
		@media (max-width: rem(549.98)) {
			@include adaptiveValue("font-size", 14, 12, 549.98, 340, 1);
		}
	}

	// = DETAILS = //
	&__details {
		//width: 100%;
		margin-bottom: 15px;
		text-align: center;
		@media (max-width: rem(767.98)) {
			//margin-right: 20px;
			//:last-child {
			//margin-right: 0;
			//}
		}
	}
	&__details i {
		font-size: rem(24);
		color: $color-base-1;
		margin: 0px 0px 10px 0px;
	}

	// = TOPIC = //
	&__topic {
		font-size: rem(18);
		font-weight: 500;
		margin: 0px 0px 7px 0px;
		@media (max-width: rem(767.98)) {
		}
	}

	// = TEXT = //
	&__text-one,
	&__text-two {
		font-size: rem(14);
		color: #afafb6;
	}

	// = TOPIC TEXT = //
	&__topic-text {
		font-size: rem(24);
		font-weight: 600;
		color: $color-base-4;
		margin: 0px 0px 10px 0px;
		@media (max-width: rem(549.98)) {
			@include adaptiveValue("font-size", 24, 20, 549.98, 340, 1);
		}
	}

	// = INPUT BOX = //
	&__input-box {
		height: rem(50);
		width: 100%;
		margin: 0px 0px 30px 0px;
		@media (max-width: rem(767.98)) {
		}
	}
	&__input-box input,
	&__input-box textarea {
		height: 100%;
		width: 100%;
		border: none;
		border-radius: rem(3);
		background: #f0f1f8;
		padding: 0px 20px 0px 20px;
		margin: 0px 0px 2px 0px;
		//padding: 0 20px;
		//margin-bottom: 2px;
	}
	&__input-box label {
		font-size: rem(14);
		color: #afafb6;
		padding-left: 5px;
		@media (max-width: rem(549.98)) {
			@include adaptiveValue("font-size", 14, 12, 549.98, 340, 1);
		}
	}
	&__input-box textarea {
		resize: none;
		padding: 20px;
		font-family: $fontFamily;
	}

	// = MESSAGE BOX = //
	&__message-box {
		min-height: 110px;
		@media (max-width: rem(767.98)) {
		}
	}

	// = BUTTON = //
	&__button {
		display: inline-block;
		@media (max-width: rem(549.98)) {
			width: 100%;
		}
	}
	&__button input[type="submit"] {
		display: inline-flex;
		width: 100%;
		font-family: $fontFamily;
		font-size: rem(18);
		background-color: $color-base-4;
		padding: rem(16) rem(24);
		border-radius: rem(10);

		color: $color-base-1;
		//border: rem(1) solid $color-base-1;
		text-decoration: none;
		font-weight: 700;
		justify-content: center;
		text-align: center;
		letter-spacing: 1px;
		cursor: pointer;
		text-transform: uppercase;
		white-space: nowrap;
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 15, 12, 767.98, 450, 1);
			padding: rem(16) rem(18);
		}
		@media (max-width: rem(449.98)) {
			@include adaptiveValue("font-size", 15, 12, 767.98, 450, 1);
			padding: rem(10) rem(16);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $color-base-1;
				color: $white;
				transition: all 0.5s ease 0s;
			}
		}

		// color: $white;
		// letter-spacing: rem(1.5);
		// font-size: rem(14);
		// text-transform: uppercase;
		// background-color: $color-base-1;
		outline: none;
		border: none;
		// padding: 14px 24px;
		// border-radius: rem(3);
		// transition: 0.5s;
		@media (max-width: rem(549.98)) {
			width: 100%;
		}
	}
	&__button input[type="submit"]:hover {
		background-color: $color-base-4;
		color: $color-base-1;
	}
}
