// === SHOP === //

.shop__box {
	// === ВИТРИНА МАГАЗИНА === //
	// = Сортировка товаров - SELECT = //
	.form-control--select-inline,
	.grid-sort__item,
	.grid-sort__item--sortby {
		border-radius: rem(5) !important;
		padding: 8px 24px 8px 24px !important;
		background-color: $color-base-6 !important;
		border: 1px solid $color-base-7 !important;
		color: $white !important;
		font-family: $fontFamily !important;
		font-weight: 700 !important;
		font-size: rem(22) !important;
		// = Сортировка товаров - HOVER = //
		@media (any-hover: hover) {
			&:hover {
				.form-control__select-text,
				.form-control__arrow {
					color: $white !important;
				}
			}
		}
		@media (max-width: rem(449.98)) {
			min-width: 100% !important;
			margin-left: 0px !important;
			display: flex !important;
			align-items: center !important;
			justify-content: space-between !important;
			font-weight: 400 !important;
			font-size: rem(18) !important;
		}
	}

	// = Сортировка товаров - SELECT / стрелка = //
	.form-control__arrow {
		width: rem(16) !important;
		height: rem(16) !important;
	}

	// = Сортировка товаров - SELECT / выпадающее меню = //
	.form-control__select {
		margin-top: 10px !important;
		font-size: rem(18) !important;
	}
	.form-control__select option {
		//color: $white !important;
		font-family: $fontFamily !important;
		//background-color: $color-base-1 !important;
	}

	// = Обертка карточки товара = //
	.grid__products--large-items .grid-product__wrap {
		padding: 16px !important;
	}
	.grid-product__wrap-inner,
	.details-gallery__image-wrapper-inner {
		background-color: $color-base-6 !important;
		border: 1px solid $color-base-7 !important;
		border-radius: rem(10) !important;
		overflow: hidden !important;
	}

	// = Область фотографии карточки товара = //
	.grid-product__image,
	.details-gallery__thumb-img-wrapper-inner,
	.details-gallery__photoswipe-thumb-index-0 {
		border-radius: rem(10) !important;
		overflow: hidden !important;
	}

	// = Лейбл скидки карточки товара = //
	.grid__products--large-items .grid-product__label {
		font-size: rem(22) !important;
		line-height: rem(24) !important;
		font-family: $fontFamily !important;
		font-weight: 700 !important;
		margin: 20px 0px 0px 0px !important;
	}
	.grid__products--large-items .grid-product__label div {
		padding: 3px 10px 3px 10px !important;
		background-color: $color-base-1 !important;
	}

	// = Название товара = //
	.grid-product__title,
	.grid-product__title-inner {
		font-size: rem(22) !important;
		font-weight: 700 !important;
		color: $color-base-4 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
	}

	// = Старая цена и скидка = //
	.grid-product__textblock {
		color: $color-base-5 !important;
		font-weight: 300 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
		font-size: rem(16) !important;
	}

	// = цена товара = //
	.grid-product__price-amount,
	.grid-product__price-value {
		font-size: rem(30) !important;
		font-weight: 900 !important;
		color: $color-base-4 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
		letter-spacing: rem(2) !important;
	}

	// = кнопка - купить = //
	.form-control__button,
	.form-control__button--icon-center {
		background-color: $color-base-4 !important;
		border: 1px solid transparent !important;
		@media (any-hover: hover) {
			&:hover {
				background-color: $color-base-1 !important;
				border: 1px solid $color-base-4 !important;
				.form-control__button-text {
					color: $color-base-4 !important;
				}
			}
		}
	}
	.form-control__button-text {
		font-size: rem(22) !important;
		font-weight: 700 !important;
		color: $color-base-1 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
	}

	// = кнопка - корзина = //
	.footer__link--shopping-cart {
		border-radius: rem(5) !important;
		padding: 8px 24px 8px 24px !important;
		background-color: $color-base-6 !important;
		border: 1px solid $color-base-7 !important;
		color: $white !important;
		font-family: $fontFamily !important;
		text-transform: uppercase !important;
		font-weight: 700 !important;
		font-size: rem(22) !important;
	}

	// === СТРАНИЦА ТОВАРА === //

	// = Название товара = //
	.product-details__product-title {
		font-size: rem(22) !important;
		font-weight: 700 !important;
		color: $color-base-4 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
	}
	// = Артикул, старая цена и скидка = //
	.product-details__product-sku,
	.details-product-price-compare__value,
	.product-details__product-price-discount,
	.product-details-module__title,
	.details-product-purchase__place {
		color: $color-base-5 !important;
		font-weight: 300 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
		font-size: rem(16) !important;
	}

	// = Лейбл скидки товара = //
	.label--custom,
	.label--flag {
		font-size: rem(22) !important;
		line-height: rem(24) !important;
		font-family: $fontFamily !important;
		font-weight: 700 !important;
	}

	// = цена товара = //
	.product-details__product-price,
	.ec-cart-summary__total,
	.ec-cart-summary__title {
		font-size: rem(30) !important;
		font-weight: 900 !important;
		color: $color-base-4 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
		letter-spacing: rem(2) !important;
	}

	// = кнопка - купить = //
	.form-control__button,
	.form-control__button--icon-center {
		background-color: $color-base-4 !important;
		border: 1px solid transparent !important;
		@media (any-hover: hover) {
			&:hover {
				background-color: $color-base-1 !important;
				border: 1px solid $color-base-4 !important;
				.form-control__button-text {
					color: $color-base-4 !important;
				}
			}
		}
	}
	.form-control__button-text {
		font-size: rem(22) !important;
		font-weight: 700 !important;
		color: $color-base-1 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
	}

	// === СТРАНИЦА КОРЗИНЫ === //
	// = Заголовки корзины = //
	.page-title__name,
	.ec-cart-next__header,
	.ec-cart-item__price-inner,
	.ec-cart-step__title,
	.ec-cart-step__next,
	.ec-cart-summary__price {
		font-size: rem(22) !important;
		font-weight: 700 !important;
		color: $color-base-4 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
	}
	// = Подзаголовки корзины = //
	.ec-cart-next__title,
	.ec-cart-item__title,
	.ec-cart-step__text,
	.breadcrumbs__link {
		color: $color-base-4 !important;
		font-weight: 300 !important;
		text-transform: uppercase !important;
		font-family: $fontFamily !important;
		font-size: rem(16) !important;
	}

	// = Текст корзины = //
	.ec-cart-email__text,
	.ec-cart-next__text,
	.ec-cart-coupon__text,
	.ec-cart-shopping__wrap,
	.form-control__inline-label,
	.ec-cart-item-sum__count-label,
	.ec-cart-step__section {
		color: $color-base-5 !important;
		font-weight: 300 !important;
		//text-transform: uppercase !important;
		font-family: $fontFamily !important;
		font-size: rem(16) !important;
	}
}
