// === SHOP === //

html#ecwid_html body#ecwid_body div.ecwid-productBrowser {
	//padding: 20px 20px;
	background-color: rgba(255, 255, 255, 0);
	min-width: 100%;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__wrap-inner,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__categories,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	padding-right: 20px;
}

html#ecwid_html body#ecwid_body .ecsp,
html#ecwid_html body#ecwid_body .ecwid {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	color: #93d500;
	margin: 0;
	word-wrap: normal;
	word-break: normal;
	min-width: 100%;
	padding: 20px 20px;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__wrap-inner,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__categories,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
	padding-right: 0px;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-store__content-wrapper {
	min-width: 100%;
	margin: 0 auto;
}

body#ecwid_body {
	-webkit-text-size-adjust: 100%;
	min-width: 100%;
}

html#ecwid_html body#ecwid_body .ec-size.ec-size--s .ec-store .ec-grid {
	padding-bottom: 16px;
	min-width: 100%;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__wrap .grid__products {
	width: 100%;
	flex-grow: 1;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__wrap-inner,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__categories,
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: flex-start;
}

html#ecwid_html body#ecwid_body div.ecwid-productBrowser {
	padding: 20px 20px;
	background-color: rgba(255, 255, 255, 0);
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__wrap .grid__products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media (max-width: rem(991.98)) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: rem(649.98)) {
		grid-template-columns: 1fr;
	}
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products[data-cols="5"] .grid-product:nth-child(n + 1) {
	width: 100%;
}

html#ecwid_html
	body#ecwid_body
	.ec-size
	.ec-store
	.grid__products--small-items
	.grid-product__button
	.form-control__button {
	padding-right: 2.8em;
	padding-left: 2.8em;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-text-muted {
	color: #fff;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid-product__price-amount {
	color: #c4c5c8;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid-product__title-inner {
	overflow: hidden;
	min-height: 1.3em;
	color: #93d500;
	font-weight: 700;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store * {
	box-sizing: border-box;
	opacity: 1;
	min-width: 0;
	max-width: none;
	min-height: 0;
	max-height: none;
	margin: 0;
	padding: 0;
	background: none;
	box-shadow: none;
	letter-spacing: normal;
	word-spacing: normal;
	transform: none;
	transform-origin: center center;
	transition: none;
	border-radius: 5px;
	overflow: hidden;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-label {
	display: inline-block;
	position: relative;
	padding: 0.1em 0.5em 0;
	margin-right: 0.5em;
	background-color: #5b2a98;
	-webkit-font-smoothing: antialiased;
}

// = GRID-PRODUCT / BUTTON = //
html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control--secondary .form-control__button {
	//border-color: #93d500;
	background-color: #93d500;
	color: #5b2a98;
	border-radius: 10px 0px 10px 0px;
	//border: 1px solid #93d500;
	min-height: 56px;
	padding: 0px 16px 0px 16px;
}

html#ecwid_html
	body#ecwid_body
	.ec-size
	.ec-store
	.form-control--animated.form-control--done
	.form-control__button-text,
html#ecwid_html
	body#ecwid_body
	.ec-size
	.ec-store
	.form-control--animated.form-control--done
	.form-control__button-svg {
	opacity: 1;
	transition: opacity 0.1s linear 1.5s;
	color: #5b2a98;
	font-weight: 700;
	line-height: 56px;
	font-family: "bebasneuepro";
	text-transform: uppercase;
	font-size: 22px;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control__button .svg-icon svg {
	opacity: 0;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products[data-cols="3"] .grid-product:nth-child(n + 1) {
	width: 100%;
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products[data-cols="3"] .grid-product:nth-child(n + 1) {
	width: 100%;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products[data-cols="3"] .grid-product:nth-child(n + 1) {
	width: 100%;
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid-product {
	/* display: flex; */
	text-align: center;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid-product {
	/* display: flex; */
	text-align: center;
}

// = GRID-PRODUCT / TITLE = //
html#ecwid_html body#ecwid_body .ec-size .ec-store .grid-product__title-inner {
	overflow: hidden;
	min-height: 1.3em;
	color: #93d500;
	font-weight: 700;
	font-family: $fontFamily;
}
html#ecwid_html
	body#ecwid_body
	.ec-size
	.ec-store
	.grid__products.grid__products--large-items[data-cols="1"]
	.grid-product {
	//max-width: 480px;
	max-width: none;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--appearance-frame .grid-product__wrap {
	background-color: transparent;
	display: flex;
	padding: 8px;
}

html#ecwid_html body#ecwid_body .ecsp,
html#ecwid_html body#ecwid_body .ecwid {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	color: #93d500;
	margin: 0;
	word-wrap: normal;
	word-break: normal;
	min-width: 100%;
	padding: 0px 0px 20px 0px;
}

// = GRID-PRODUCT / КОРЗИНА = //
html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-store .ec-footer__link {
	font-size: 30px;
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link.link--icon-top {
	display: inline-block;
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-footer__link {
	display: block;
	max-width: 100%;
	padding: 10px;
	line-height: rem(50);
	text-align: center;
	word-wrap: break-word;
	border: 1px solid #93d500;
	border-radius: rem(5);
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link--muted,
html#ecwid_html body#ecwid_body .ec-size .ec-store .ec-link--muted-visited {
	color: #93d500;
	transition: color 0.12s ease-out 0s;
}

html#ecwid_html body#ecwid_body .ec-size .ec-store .grid__products--appearance-frame .grid-product__wrap-inner {
	//border: 1px solid #e6e6e6;
	border-radius: 10px;
	//background-color: #93d500;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	transition:
		box-shadow 0.2s ease 0s,
		background-color 0.2s ease 0s;
}
