// === BANNER === //
.banner {
	position: relative;
	margin: 20px 0px 0px 0px;

	// = LINK = //
	&__link {
		cursor: pointer;
	}

	// = IMAGE = //
	&__image {
		border-radius: rem(10);
		overflow: hidden;
		position: relative;
		padding: 0px 0px 40% 0px;
	}
}
