// === TEAM LEADER CARD === //
.team-leader-card {
	position: relative;
	height: 100%;
	min-width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 0px 0px 0px;
	background-color: $color-base-1;
	background-image: url("@img/RUNA/patterns/patterns-7.svg");
	background-size: cover;
	background-blend-mode: multiply;
	border-radius: rem(10);
	overflow: hidden;
	border: rem(1) solid $color-base-1;
	cursor: pointer;
	transition: all 0.5s ease 0s;

	// = HOVER = //
	&:hover {
		transition: all 0.5s ease 0s;
	}

	// = BODY = //
	&__body {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	// = INFO = //
	&__info {
		height: 90%;
		position: absolute;
		top: rem(40);
		left: rem(40);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		gap: rem(20);
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("top", 40, 16, 767.98, 400, 1);
			@include adaptiveValue("left", 40, 16, 767.98, 400, 1);
		}
		@media (max-width: rem(699.98)) {
			height: 93%;
		}
		@media (max-width: rem(449.98)) {
			height: 95%;
		}
	}

	// = BOX = //
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	// = NAME = //
	&__name {
		font-size: 30px;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		color: $color-base-4;
		text-transform: uppercase;
		@media (max-width: rem(949.98)) {
			@include adaptiveValue("font-size", 30, 22, 949.98, 768, 1);
			@include adaptiveValue("line-height", 32, 24, 949.98, 768, 1);
		}
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 34, 30, 767.98, 400, 1);
			@include adaptiveValue("line-height", 36, 32, 767.98, 400, 1);
		}
	}
	&__surname {
		font-weight: 700;
		text-align: left;
		color: $color-base-4;
		text-transform: uppercase;
		font-size: 54px;
		font-style: normal;
		@media (max-width: rem(949.98)) {
			@include adaptiveValue("font-size", 54, 40, 949.98, 768, 1);
			@include adaptiveValue("line-height", 56, 42, 949.98, 768, 1);
		}
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 34, 30, 767.98, 400, 1);
			@include adaptiveValue("line-height", 36, 32, 767.98, 400, 1);
		}
	}

	// = BAGE = //
	&__bage {
		margin: 14px 0px 0px 0px;
		display: inline-flex;
		padding: 12px 16px;
		align-items: center;
		gap: 8px;
		background-color: $white;
		border-radius: rem(10) 0px rem(10) 0px;
		p {
			color: $color-base-2;
		}
		@media (max-width: rem(699.98)) {
			//border-radius: rem(10) 0px rem(10) 0px;
			padding: 10px 12px;
			gap: 5px;
		}
	}

	// = SOCIAL NETS = //
	&__social-nets {
		margin: 20px 0px 0px 0px;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: rem(16);
		@media (max-width: rem(649.98)) {
			display: none;
		}
	}
	&__social-net-btn {
		background-color: $color-base-2;
		//border-radius: rem(50);
		border-radius: rem(10) 0px rem(10) 0px;
		padding: rem(12);
		width: rem(44);
		height: rem(44);
		transition: all 0.5s ease 0s;
	}
	&__social-net-btn:hover {
		transition: all 0.5s ease 0s;
		scale: 1.1;
		background-color: $color-base-4;
	}

	&__position,
	&__age,
	&__height,
	&__weight {
		display: inline-block;
		vertical-align: middle;
		color: $color-base-1;
		text-transform: uppercase;
		font-weight: 700;
		@include adaptiveValue("font-size", 22, 16, 1920, 768, 1);
		@include adaptiveValue("line-height", 24, 18, 1920, 768, 1);
		@media (max-width: rem(699.98)) {
			@include adaptiveValue("font-size", 16, 12, 699.98, 320, 1);
			@include adaptiveValue("line-height", 18, 16, 699.98, 320, 1);
		}
	}

	// = STATS = //

	&__stats {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 12px;
		z-index: 3;
		@media (max-width: rem(699.98)) {
			grid-template-columns: 1fr 1fr;
			gap: 8px;
		}
	}

	&__stats-item {
		background-color: $white;
		display: flex;
		width: 140px;
		padding: 12px 32px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 2px;
		border-radius: 15px 0px;
		@media (max-width: rem(699.98)) {
			@include adaptiveValue("width", 140, 115, 767.98, 450, 1);
			padding: 12px 20px;
		}
		@media (max-width: rem(449.98)) {
			@include adaptiveValue("width", 115, 100, 449.98, 360, 1);
			padding: 8px 16px;
		}
	}

	&__stats-label {
		font-size: 22px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px; /* 109.091% */
		text-transform: uppercase;
		color: $color-base-2;
		@media (max-width: rem(449.98)) {
			@include adaptiveValue("font-size", 22, 16, 449.98, 360, 1);
		}
	}

	&__stats-index {
		color: $color-base-2;
		font-size: 54px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 54, 30, 767.98, 450, 1);
		}
		@media (max-width: rem(449.98)) {
			@include adaptiveValue("font-size", 30, 24, 449.98, 360, 1);
		}
	}

	// = PHOTO = //
	&__photo {
		width: rem(508);
		height: rem(544);
		//flex-shrink: 0;
		//background: cover no-repeat;
		z-index: 2;
		@include adaptiveValue("margin-left", 100, 300, 1250, 991.98, 1);
		@media (max-width: rem(991.98)) {
			@include adaptiveValue("height", 544, 436.91, 991.98, 768, 1);
			@include adaptiveValue("width", 508, 408, 991.98, 768, 1);
		}
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("margin-top", 140, 120, 767.98, 450, 1);
		}
		@media (max-width: rem(699.98)) {
			@include adaptiveValue("margin-left", 200, 0, 699.98, 450, 1);
		}
		@media (max-width: rem(449.98)) {
			@include adaptiveValue("height", 436.91, 310.55, 699.98, 320, 1);
			@include adaptiveValue("width", 408, 290, 699.98, 320, 1);
		}
	}

	// = NUM = //
	&__num {
		position: absolute;
		top: 0;
		text-align: center;
		color: $color-base-4;
		@include adaptiveValue("right", 120, 70, 1920, 991.98, 1);
		@include adaptiveValue("width", 400, 200, 1920, 991.98, 1);
		@include adaptiveValue("font-size", 480, 200, 1920, 991.98, 1);
		@include adaptiveValue("line-height", 400, 180, 1920, 991.98, 1);
		@include adaptiveValue("letter-spacing", -12, 4, 1920, 991.98, 1);
		font-weight: 700;
		text-transform: uppercase;
		z-index: 1;

		@media (max-width: rem(991.98)) {
			right: 0;
			@include adaptiveValue("width", 200, 170, 991.98, 768, 1);
			@include adaptiveValue("font-size", 200, 170, 991.98, 768, 1);
			@include adaptiveValue("line-height", 180, 150, 991.98, 768, 1);
			@include adaptiveValue("letter-spacing", 4, 2, 991.98, 768, 1);
		}

		@media (max-width: rem(767.98)) {
			//@include adaptiveValue("width", 180, 100, 767.98, 450, 1);
			//@include adaptiveValue("font-size", 180, 100, 767.98, 450, 1);
			//@include adaptiveValue("line-height", 180, 100, 767.98, 450, 1);
		}

		@media (max-width: rem(549.98)) {
			display: none;
		}
	}

	// = BORDER = //
	&__big-border {
		position: absolute;
		top: 0;
		@include adaptiveValue("right", 40, 15, 1920, 991.98, 1);
		//@include adaptiveValue("width", 135, 120, 1920, 991.98, 1);
		width: 126px;
		height: 100%;
		flex-shrink: 0;
		z-index: 2;
		@media (max-width: rem(991.98)) {
			display: none;
			//@include adaptiveValue("right", 15, 0, 949.98, 849.98, 1);
			//@include adaptiveValue("width", 126, 100, 949.98, 849.98, 1);
		}
		@media (max-width: rem(849.98)) {
			//display: none;
		}
	}
}
