// === SITE TABS === //

// === TABS MENU / HORIZONTAL === //
.tabs-logo-menu {
	// = BOX = //
	&__box {
		position: relative;
	}

	// = TABS NAV = //
	&__tabs-nav {
		background-color: transparent;
		//min-height: 70px;
		//overflow-x: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		//gap: rem(3);
		@media (max-width: rem(599.98)) {
			//justify-content: start;
			//padding: 0px 15px 0px 15px;
		}
	}
	&__tabs-nav::-webkit-scrollbar {
		//display: none;
	}

	// = TABS TITLE = //
	&__tabs-title-box {
		margin: 0px 0px 10px 0px;
		padding: 26px 24px 16px 24px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		border-bottom: rem(10) solid transparent;
		transition: all 0.5s ease 0s;
		@media (max-width: rem(767.98)) {
			padding: 20px 16px 10px 16px;
		}
		@media (max-width: rem(649.98)) {
			margin: 0px 0px 0px 0px;
			padding: 16px 10px 6px 10px;
		}
		@media (any-hover: hover) {
			&:hover {
				transition: all 0.5s ease 0s;
			}
		}
	}
	&__tabs-title {
		@include adaptiveValue("font-size", 24, 18, 1600, 768, 1);
		color: $color-base-5;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: rem(1);
		transition: all 0.5s ease 0s;
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 18, 14, 767.98, 650, 1);
		}
		@media (max-width: rem(649.98)) {
			display: none;
		}

		@media (any-hover: hover) {
			&:hover {
				//color: $color-base-1;
				//background-color: $white;
				//border-bottom: rem(10) solid $bgColor_2;
				//transition: all 0.5s ease 0s;
			}
		}
	}

	// = TABS LOGO = //
	&__tabs-logo {
		opacity: 0.5;
		background-color: $color-base-5;
		border-radius: 100%;
		@include adaptiveValue("height", 80, 70, 1600, 992, 1);
		@include adaptiveValue("width", 80, 70, 1600, 992, 1);
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("height", 70, 60, 767.98, 650, 1);
			@include adaptiveValue("width", 70, 60, 767.98, 650, 1);
		}
	}
	&__tabs-logo img {
		padding: rem(5);
	}

	// = .TAB-ACTIVE = //
	._tab-active {
		transition: all 0.5s ease 0s;
		.tabs-logo-menu__tabs-title-box {
			border-bottom: rem(10) solid $color-base-4;
			background-color: transparent;
			transition: all 0.5s ease 0s;
		}
		.tabs-logo-menu__tabs-title {
			color: $color-base-4;
		}
		.tabs-logo-menu__tabs-logo {
			opacity: 1;
		}
	}

	// = TABS CONTENT = //
	&__tabs-content {
	}

	// = TABS BODY = //
	&__tabs-body {
		padding: 20px 0px 20px 0px;
	}
}

// = TABS MINI BUTTONS = //
.tabs-mini-buttons {
	&__tabs {
		//margin: 20px 0px 20px 0px;
	}

	&__tabs-navigation {
		//background-color: $white;
		min-height: 70px;
		overflow-x: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0px 30px 0px;
		//gap: rem(3);
		@media (max-width: rem(499.98)) {
			justify-content: space-between;
		}
	}
	// === GAME PROGRESS / TITLE === //
	&__tabs-title {
		padding: 22px 15px 12px 15px;
		color: $white;
		//@include adaptiveValue("font-size", 18, 15, 1600, 768, 1);
		font-size: rem(16);
		font-weight: 400;
		min-width: rem(140);
		text-align: center;
		text-transform: uppercase;
		letter-spacing: rem(1);
		border-bottom: rem(10) solid transparent;
		border-radius: rem(3) rem(3) 0px 0px;
		transition: all 0.5s ease 0s;
		@media (max-width: rem(849.98)) {
			//font-weight: 900;
			min-width: rem(50);
			width: 100%;
			width: fit-content;
			padding: 22px 20px 12px 20px;
		}
		@media (max-width: rem(399.98)) {
		}

		@media (any-hover: hover) {
			&:hover {
				//color: $color-base-1;
				//background-color: $white;
				border-bottom: rem(10) solid $color-base-7;
				transition: all 0.5s ease 0s;
			}
		}
	}
	&__tabs-mini-title {
		min-width: rem(85);
	}

	&__tabs-title span {
		@media (max-width: rem(849.98)) {
			display: none;
		}
	}

	// = .TAB-ACTIVE = //
	._tab-active {
		border-bottom: rem(10) solid $color-base-1;
		font-weight: 700;
		color: $color-base-1;
		transition: all 0.5s ease 0s;
	}

	&__tabs-content {
	}

	&__tabs-body {
	}

	&__tabs-active {
	}
}

// = TABS VIDEO  = //
.tabs-video {
	position: relative;
	margin: 20px 0px 30px 0px;
	@include adaptiveValue("height", 540, 428, 1400, 1195, 1);
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	gap: rem(20);
	align-items: flex-start;
	z-index: 2;
	overflow: hidden;
	@media (max-width: rem(1194.98)) {
		@include adaptiveValue("height", 429, 330, 1194.98, 992, 1);
		gap: rem(15);
	}
	@media (max-width: rem(991.98)) {
		flex-direction: column-reverse;
		height: fit-content;
	}
	@media (max-width: rem(389.98)) {
		gap: rem(10);
	}

	// = TABS NAV  = //
	&__tabs-nav {
		@include adaptiveValue("height", 540, 428, 1400, 1195, 1);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: rem(20);
		@media (max-width: rem(1194.98)) {
			@include adaptiveValue("height", 429, 330, 1194.98, 992, 1);
			gap: rem(15);
			overflow-y: scroll;
		}
		@media (max-width: rem(991.98)) {
			flex-direction: row;
			overflow-x: scroll;
			height: fit-content;
			gap: rem(20);
			max-width: 100%;
		}
		@media (max-width: rem(699.98)) {
			gap: rem(15);
		}
		@media (max-width: rem(389.98)) {
			gap: rem(10);
		}
	}
	&__tabs-nav::-webkit-scrollbar {
		//display: none;
	}

	&__tabs-title-box {
		position: relative;
		overflow: hidden;
		@include adaptiveValue("height", 120, 92, 1400, 1195, 1);
		@include adaptiveValue("min-height", 120, 92, 1400, 1195, 1);
		width: 100%;
		min-height: rem(92);
		border: rem(1) solid $color-base-1;
		border-radius: rem(10);
		color: $white;
		background-color: $color-base-1;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		z-index: 2;
		@media (max-width: rem(1194.98)) {
			@include adaptiveValue("height", 133, 100, 1194.98, 992, 1);
			@include adaptiveValue("min-height", 133, 100, 1194.98, 992, 1);
		}
		@media (max-width: rem(991.98)) {
			@include adaptiveValue("height", 120, 100, 991.98, 700, 1);
			@include adaptiveValue("min-height", 120, 100, 991.98, 700, 1);
			@include adaptiveValue("min-width", 470, 325, 991.98, 700, 1);
		}
		@media (max-width: rem(699.98)) {
			flex-direction: column;
			min-height: fit-content;
			height: fit-content;
			@include adaptiveValue("min-width", 213, 170, 699.98, 570, 1);
			@include adaptiveValue("width", 213, 170, 699.98, 570, 1);
		}
		@media (max-width: rem(569.98)) {
			@include adaptiveValue("min-width", 262.5, 170, 569.98, 390, 1);
			@include adaptiveValue("width", 262.5, 170, 569.98, 390, 1);
		}
		@media (max-width: rem(389.98)) {
			@include adaptiveValue("min-width", 290, 220, 389.98, 330, 1);
			@include adaptiveValue("width", 290, 220, 389.98, 330, 1);
		}
	}

	&__tabs-mini-img {
		@include adaptiveValue("height", 120, 92, 1400, 1195, 1);
		@include adaptiveValue("min-width", 184, 141, 1400, 1195, 1);

		@media (max-width: rem(1194.98)) {
			@include adaptiveValue("height", 133, 100, 1194.98, 992, 1);
			@include adaptiveValue("min-width", 203, 153, 1194.98, 992, 1);
		}
		@media (max-width: rem(991.98)) {
			@include adaptiveValue("height", 120, 100, 991.98, 700, 1);
			@include adaptiveValue("width", 184, 153, 991.98, 700, 1);
			min-width: none;
		}
		@media (max-width: rem(699.98)) {
			@include adaptiveValue("min-width", 213, 170, 699.98, 570, 1);
			@include adaptiveValue("width", 213, 170, 699.98, 570, 1);
			@include adaptiveValue("height", 139, 111, 699.98, 570, 1);
		}
		@media (max-width: rem(569.98)) {
			@include adaptiveValue("min-width", 262.5, 170, 569.98, 390, 1);
			@include adaptiveValue("width", 262.5, 170, 569.98, 390, 1);
			@include adaptiveValue("height", 171.2, 111, 569.98, 390, 1);
		}
		@media (max-width: rem(389.98)) {
			@include adaptiveValue("min-width", 290, 220, 389.98, 330, 1);
			@include adaptiveValue("width", 290, 220, 389.98, 330, 1);
			@include adaptiveValue("height", 189, 143.5, 389.98, 330, 1);
		}
	}

	&__info-bage {
		padding: 8px 8px 8px 8px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		@media (max-width: rem(991.98)) {
			width: 100%;
		}
		@media (max-width: rem(699.98)) {
			height: rem(100);
		}
		@media (max-width: rem(389.98)) {
			height: rem(85);
		}
	}

	&__tag {
		font-size: rem(22);
		text-align: left;
		text-transform: uppercase;
		line-height: rem(24);
		font-weight: 700;
		@media (max-width: rem(1194.98)) {
			font-size: rem(20);
		}
		@media (max-width: rem(991.98)) {
			font-size: rem(22);
		}
	}

	&__tabs-title {
		display: inline-block;
		padding: 4px 0px 0px 0px;
		font-size: rem(16);
		text-align: left;
		line-height: rem(20);
		text-transform: uppercase;
		@media (max-width: rem(991.98)) {
			@include adaptiveValue("font-size", 16, 14, 991.98, 700, 1);
		}
	}

	&__tabs-content {
	}

	&__tabs-body {
		border-radius: rem(10);
		overflow: hidden;
		width: 100%;
		border: rem(1) solid $color-base-1;
	}

	&__box {
		//width: rem(960);
		@include adaptiveValue("width", 960, 760, 1400, 1195, 1);
		@include adaptiveValue("height", 540, 428, 1400, 1195, 1);
		position: relative;
		padding: 0px 0px 56% 0px;
		z-index: 2;
		@media (max-width: rem(1194.98)) {
			@include adaptiveValue("height", 429, 330, 1194.98, 992, 1);
			@include adaptiveValue("width", 760, 586, 1194.98, 992, 1);
		}

		@media (max-width: rem(991.98)) {
			@include adaptiveValue("width", 960, 290, 991.98, 320, 1);
			@include adaptiveValue("height", 540, 163, 991.98, 320, 1);
		}
	}
	&__box video,
	&__box iframe {
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

._tab-active {
}
