// === PLAY-IN-SLIDER === //
.play-in-slider {
	&__block {
		overflow: hidden;
	}

	&__box {
		position: relative;
	}

	&__wrapper {
	}

	&__item {
	}

	&__navigation {
		position: absolute;
		top: rem(-60);
		right: 0;
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 30, 20, 650, 420, 1);
		z-index: 2;
		@media (max-width: rem(1089.98)) {
			@include adaptiveValue("top", -60, -50, 650, 420, 1);
		}
	}
	&__nav-prev {
		@include adaptiveValue("width", 50, 40, 1600, 420, 1);
		@include adaptiveValue("height", 50, 40, 1600, 420, 1);
		opacity: 0.3;
		transition: all 0.5s ease 0s;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				transition: all 0.5s ease 0s;
				transform: scale(1.3);
				opacity: 1;
			}
		}
	}
	&__nav-next {
		@include adaptiveValue("width", 50, 40, 1600, 420, 1);
		@include adaptiveValue("height", 50, 40, 1600, 420, 1);
		opacity: 0.3;
		transition: all 0.5s ease 0s;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				transition: all 0.5s ease 0s;
				transform: scale(1.3);
				opacity: 1;
			}
		}
	}

	.swiper-pagination {
		display: none;
		position: relative;
		margin-top: rem(30);
		@media (max-width: rem(650)) {
			display: none;
		}
	}

	.swiper-pagination-bullet {
		width: rem(20);
		height: rem(20);
		line-height: rem(20);
		background-color: $white;
		border: rem(1) solid $bgColor_2;
	}
}

.playin-net {
	// === PLAYOFF-NET / BODY === //
	&__body {
		width: 100%;
		display: grid;
		//margin: 0px 0px 40px 0px;
		grid-template-columns: 1fr rem(30) 1fr rem(30) 1fr;
		@media (max-width: rem(1089.98)) {
			grid-template-columns: 1fr;
			gap: rem(10);
			padding: 0px 0px 20px 0px;
			margin: 0px 0px 0px 0px;
		}
	}
	&__block {
		height: 100%;
	}
}
