// === PLAYOFF === //
.playoff-box {
	margin: 20px 0px 0px 0px;
}
// === PLAYOFF-NET-8 === //
.playoff-net-8 {
	// = BODY = //
	&__body {
		width: 100%;
		display: grid;
		margin: 0px 0px 40px 0px;
		grid-template-columns: 1fr rem(30) 1fr rem(30) 1fr;
		@media (max-width: rem(1089.98)) {
			grid-template-columns: 1fr;
			gap: rem(10);
			padding: 0px 0px 30px 0px;
			margin: 0px 0px 0px 0px;
		}
	}

	// = STAGE = //
	&__stage-1 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: rem(180) rem(180) rem(180) rem(180);
		gap: rem(40);

		@media (max-width: em(1089.98)) {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			gap: rem(20);
		}
	}
	&__stage-2 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: rem(400) rem(400);
		gap: rem(40);

		@media (max-width: em(1089.98)) {
			grid-template-rows: 1fr;
			gap: rem(20);
			border-top: rem(5) solid $color-base-1;
			padding: 20px 0px 0px 0px;
		}
	}
	&__stage-3 {
		display: grid;
		grid-template-columns: 1fr;
		//gap: rem(40);

		@media (max-width: rem(1089.98)) {
			gap: rem(20);
			border-top: rem(5) solid $color-base-1;
			padding: 20px 0px 0px 0px;
		}
	}

	// = PAIR = //
	&__pair-1 {
		height: fit-content;
	}
	&__pair-2 {
		height: fit-content;
		margin: 110px 0px 0px 0px;
		@media (max-width: rem(1089.98)) {
			margin: 0px 0px 0px 0px;
		}
	}
	&__pair-3 {
		height: fit-content;
		margin: 330px 0px 0px 0px;

		@media (max-width: rem(1089.98)) {
			margin: 0px 0px 0px 0px;
		}
	}
	&__pair-4 {
		height: fit-content;
		margin: 150px 0px 0px 0px;
		@media (max-width: rem(1089.98)) {
			margin: 0px 0px 0px 0px;
		}
	}

	// = BORDER = //
	&__border-1 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: rem(1089.98)) {
			display: none;
		}
	}
	&__border-2 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: rem(1089.98)) {
			display: none;
		}
	}

	// = LINE BLOCK = //
	&__line-block {
		display: grid;
		grid-template-columns: rem(63);
		grid-template-rows: rem(90) rem(220) rem(90);
	}
	&__line-block-1 {
		display: grid;
		grid-template-columns: rem(63);
		//grid-template-rows: rem(140) rem(340) rem(140);
	}
	&__line-block-2 {
		display: grid;
		grid-template-columns: rem(63);
		grid-template-rows: rem(200) rem(440) rem(200);
	}
	// = LINE BOX = //
	&__line-box-up {
		border-bottom: rem(5) solid $color-base-1;
	}
	&__line-box-center {
		border-right: rem(5) solid $color-base-1;
	}
	&__line-box-down {
		border-top: rem(5) solid $color-base-1;
	}

	// = LINE = //
	&__line-box-up-w {
		border-bottom: rem(5) solid $white;
	}
	&__line-box-center-w {
		border-right: rem(5) solid $white;
	}
	&__line-box-down-w {
		border-top: rem(5) solid $white;
	}
}

// === PLAYOFF-NET-16 === //
.playoff-net-16 {
	// = BODY = //
	&__body {
		width: 100%;
		display: grid;
		margin: 0px 0px 40px 0px;
		grid-template-columns: 1fr rem(20) 1fr rem(20) 1fr rem(20) 1fr;
		.table__card table td {
			padding: 6px 5px 6px 5px;
		}
		.game-card-pl__body {
			height: rem(210);
			min-width: rem(250);
			&:before {
				height: rem(40);
			}
		}
		.game-card-pl__back-body {
			padding: 8px 8px 8px 8px;
		}
		.game-card-pl__teams {
			margin: 60px 0px 0px 0px;
			padding: 0px 10px 0px 10px;
		}
		.game-card-pl__bage {
			padding: 8px 10px 0px 10px;
			font-size: rem(24);
		}
		.game-card-pl__team-logo {
			width: 50px;
			height: 50px;
		}
		.game-card-pl__title {
			@include adaptiveValue("font-size", 20, 15, 1600, 1090, 1);
			line-height: rem(50);
			@media (max-width: rem(1169.98)) {
				font-weight: 400;
			}
			@media (max-width: rem(1099.98)) {
				@include adaptiveValue("font-size", 22, 16, 1099.98, 360, 1);
				font-weight: 900;
			}
		}
		.game-card-pl__team-score {
			@include adaptiveValue("font-size", 24, 16, 1600, 1090, 1);
			line-height: rem(50);
			@media (max-width: rem(1099.98)) {
				@include adaptiveValue("font-size", 24, 16, 1099.98, 360, 1);
			}
		}

		@media (max-width: rem(1099.98)) {
			grid-template-columns: 1fr;
			gap: rem(10);
			padding: 0px 0px 30px 0px;
			margin: 0px 0px 0px 0px;
		}
	}

	// = STAGE = //
	&__stage {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: rem(20);
	}
	&__stage-1 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: rem(210) rem(210) rem(210) rem(210) rem(210) rem(210) rem(210) rem(210);
		gap: rem(20);
		@media (max-width: em(1099.98)) {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			gap: rem(20);
		}
	}
	&__stage-2 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: rem(440) rem(440) rem(440) rem(440);
		gap: rem(20);
		@media (max-width: em(1099.98)) {
			grid-template-rows: 1fr;
			gap: rem(20);
			border-top: rem(5) solid $color-base-1;
			padding: 20px 0px 0px 0px;
		}
	}
	&__stage-3 {
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(20);
		@media (max-width: rem(1099.98)) {
			gap: rem(20);
			border-top: rem(5) solid $color-base-1;
			padding: 20px 0px 0px 0px;
		}
	}
	&__stage-4 {
		display: grid;
		grid-template-columns: 1fr;
		@media (max-width: rem(1099.98)) {
			gap: rem(20);
			//padding: 20px 0px 0px 0px;
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-start;
			align-items: stretch;
		}
	}
	&__stage-5 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: rem(440) rem(440);
		gap: rem(20);
		@media (max-width: em(1099.98)) {
			grid-template-rows: 1fr;
			gap: rem(20);
			border-top: rem(5) solid $color-base-1;
			padding: 20px 0px 0px 0px;
		}
	}

	// = PAIR = //

	&__pair-1 {
		height: fit-content;
	}
	&__pair-2 {
		height: fit-content;
		margin: 115px 0px 0px 0px;
		@media (max-width: rem(1099.98)) {
			margin: 0px 0px 0px 0px;
		}
	}
	&__pair-3 {
		height: fit-content;
		margin: 345px 0px 0px 0px;
		@media (max-width: rem(1099.98)) {
			margin: 0px 0px 0px 0px;
		}
	}
	&__pair-4 {
		height: fit-content;
		margin: 805px 0px 0px 0px;
		@media (max-width: rem(1099.98)) {
			margin: 0px 0px 0px 0px;
		}
	}
	&__pair-5 {
		height: fit-content;
		margin: 595px 0px 0px 0px;
		@media (max-width: rem(1099.98)) {
			margin: 10px 0px 0px 0px;
		}
	}
	&__pair-6 {
		height: fit-content;
		margin: 100px 0px 0px 0px;
		@media (max-width: rem(1099.98)) {
			margin: 10px 0px 0px 0px;
		}
	}
	&__pair-7 {
		height: fit-content;
		margin: 115px 0px 0px 0px;
		@media (max-width: rem(1099.98)) {
			margin: 10px 0px 0px 0px;
		}
	}

	// = BORDER = //
	&__border-1 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: rem(1099.98)) {
			display: none;
		}
	}

	// = LINE-BLOCK = //
	&__line-block {
		display: grid;
		grid-template-columns: rem(40);
		grid-template-rows: rem(100) rem(240) rem(100);
	}
	&__line-block-1 {
		display: grid;
		grid-template-columns: rem(40);
		//grid-template-rows: rem(140) rem(340) rem(140);
	}
	&__line-block-2 {
		display: grid;
		grid-template-columns: rem(40);
		grid-template-rows: rem(230) rem(440) rem(230);
	}
	&__line-block-3 {
		display: grid;
		grid-template-columns: rem(40);
		grid-template-rows: rem(450) rem(920) rem(450);
	}
	&__line-block-4 {
		display: grid;
		grid-template-columns: rem(40);
		grid-template-rows: rem(80) rem(360) rem(80);
	}

	// = LINE-BOX = //
	&__line-box-up {
		border-bottom: rem(5) solid $color-base-4;
	}
	&__line-box-center {
		border-right: rem(5) solid $color-base-4;
	}
	&__line-box-down {
		border-top: rem(5) solid $color-base-4;
	}
	// = WHITE - LINE = //
	// &__line-box-up-w {
	// 	border-bottom: rem(5) solid $white;
	// }
	// &__line-box-center-w {
	// 	border-right: rem(5) solid $white;
	// }
	// &__line-box-down-w {
	// 	border-top: rem(5) solid $white;
	// }
}
