// === MONTH CALENDAR === //
.month-calendar {
	width: 100%;
	margin: 0px 0px 30px 0px;
	font-family: $fontFamily;
	overflow: hidden;
	border-radius: rem(10) rem(10) rem(10) rem(10);
	//border: 1px solid $color-base-7;
	background-color: $color-base-6;
	padding: 16px;
	// = HEADER = //
	&__header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: rem(20);
		padding: 0px 16px 10px 16px;
		background-color: $color-base-7;
		border-radius: 0px 0px rem(10) rem(10);
		margin: 0px 0px 20px 0px;
		@media (max-width: rem(767.98)) {
			grid-template-columns: 1fr 1fr;
			background-color: $mainColor;
			padding: 0px 0px 0px 0px;
		}
		@media (max-width: rem(449.98)) {
			display: flex;
			flex-direction: column-reverse;
			gap: 0px;
			padding: 20px 0px 0px 0px;
		}
	}

	// = WEEK HEADER = //
	&__week-header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: rem(16);
		//border-bottom: rem(1) solid $color-base-7;
		padding: 0px 0px 16px 0px;
		@media (max-width: rem(991.98)) {
			display: none;
		}
	}

	&__week-header-day {
		width: 100%;
		text-align: center;
		padding: 1.25rem 0.625rem;
		color: $white;
		background-color: $color-base-7;
		//border-right: rem(1) solid $color-base-7;
		border-radius: rem(10);
		font-size: rem(16);
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		text-shadow: none;
		vertical-align: middle;
		white-space: nowrap;
	}

	// = DAY TITLE = //
	&__day-title {
	}
	&__day-title-short {
		display: none;
	}

	// = BODY = //
	&__body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: rem(16);
		@media (max-width: rem(1199.98)) {
			gap: rem(10);
		}
	}

	// = WEEK = //
	&__week {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		//border-bottom: rem(1) solid $bgColor_2;
		gap: rem(16);
		@media (max-width: rem(1199.98)) {
			gap: rem(10);
		}
		@media (max-width: rem(991.98)) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}
	}
	&__week:not(:last-child) {
		//border-bottom: rem(1) solid $sa_silver;
		@media (max-width: rem(991.98)) {
			//border-bottom: none;
		}
	}

	// = DAY = //
	&__day {
		transition: all 0.5s ease 0s;
		background-color: $color-base-7;
		padding: rem(8);
		//min-width: rem(132);
		border-radius: rem(5);
		//border: rem(1) solid transparent;
		@media (max-width: rem(991.98)) {
			display: flex;
			column-gap: rem(10);
			@include adaptiveValue("min-height", 102.15, 92.15, 991.98, 649.98, 1);
		}
		@media (max-width: rem(599.98)) {
			column-gap: rem(5);
		}
		@media (max-width: rem(449.98)) {
			min-height: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				transition: all 0.5s ease 0s;
				//transform: scale(1.01);
				//box-shadow: $shadow-2;
				//border: rem(1) solid $color-base-1;
				//border-radius: rem(5);
				.game-card-calendar__tournament-logo {
					//opacity: 1;
				}
			}
		}
	}
	&__day:not(:last-child) {
		//border-right: rem(1) solid $sa_silver;
		@media (max-width: rem(991.98)) {
			//border-bottom: rem(1) solid $sa_silver;
			//border-right: none;
		}
	}
	&__day-body {
		position: relative;
		padding: 10px 0px 0px 0px;
		height: fit-content;
		min-height: rem(150);

		@media (max-width: rem(991.98)) {
			min-height: 0;
			padding: 0px 0px 0px 0px;
			width: 100%;
		}
		@media (max-width: rem(599.98)) {
			//min-height: rem(90);
		}
	}
	&__day-disable {
		.month-calendar__day-header {
			background-color: $color-base-7;
		}
		.month-calendar__date,
		.month-calendar__week-day {
			color: $color-base-5;
			opacity: 0.6;
		}
		.month-calendar__date {
			//-webkit-text-stroke-width: rem(1);
			//-webkit-text-stroke-color: $color-base-1;
		}

		@media (max-width: rem(991.98)) {
			display: none;
		}
	}
	&__day-today {
		.month-calendar__day-header {
			//background-color: #eef0f2;
			background-color: $color-base-1;
			border: rem(1) solid $color-base-4;
		}
		.month-calendar__date,
		.month-calendar__week-day {
			color: $color-base-4;
		}
	}
	&__empty-day {
		@media (max-width: rem(991.98)) {
			display: none;
		}
	}

	// = DAY HEADER = //
	&__day-header {
		height: rem(45);
		width: 100%;
		padding: rem(5);
		background-color: $color-base-6;
		border: rem(1) solid $color-base-4;
		border-radius: rem(3);
		@media (max-width: rem(991.98)) {
			height: 100%;
			width: rem(45);
		}
	}

	// = DATE = //
	&__date {
		text-align: end;
		font-size: rem(30);
		font-weight: 900;
		font-family: $fontFamily;
		color: $white;
		@media (max-width: rem(991.98)) {
			text-align: center;
		}
	}

	// = WEEK DAY = //
	&__week-day {
		display: none;

		@media (max-width: rem(991.98)) {
			width: 100%;
			font-size: rem(14);
			display: inline-block;
			color: $color-base-5;
			text-align: center;
		}
	}
}
