// === SITE SPOLLERS === //

// == VERTICAL SPOLLERS == //
.vertical-spollers {
	//background-color: $white;
	// = ITEM = //
	&__item {
		//margin: 0px 20px 0px 20px;
		//background-color: $color-base-7;
		transition: all 0.5s ease 0s;
		border-radius: rem(10);

		@media (any-hover: hover) {
			&:hover {
				.vertical-spollers__title {
					transition: all 0.5s ease 0s;
					//box-shadow: $shadow-1;
				}
			}
		}
	}

	// = TITLE = //
	&__title {
		width: 100%;
		border-radius: rem(10);
		background-color: $color-base-7;
		//margin: 0px 0px 0px 0px;
		padding: 10px 10px 10px 10px;
		height: fit-content;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all 0.5s ease 0s;
	}
	&__title._spoller-active {
		background-color: transparent;
		//border-radius: rem(10) rem(10) 0px 0px;
		transition: all 0.5s ease 0s;
		.vertical-spollers__icon {
			transition: all 0.5s ease 0s;
			-webkit-transform: rotate(-180deg);
			-ms-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}
	}

	// = BODY = //
	&__body {
		padding: 0px 0px 20px 0px;
		//background-color: $color-base-7;
		border-radius: 0px 0px rem(10) rem(10);
		//overflow: hidden;

		.calendar-slider__item.swiper-slide > div > div {
			//border: rem(1) solid $color-base-1;
			//border-radius: rem(3);
		}
	}

	// = BAGE = //
	&__bage {
		width: fit-content;
		height: fit-content;
		//padding: 10px 0px 10px 0px;
		display: flex;
		justify-content: left;
		align-items: center;
	}

	// = LOGO = //
	&__logo {
		background-color: $color-base-5;
		border-radius: rem(5);
		overflow: hidden;
		@include adaptiveValue("height", 60, 50, 1600, 992, 1);
		@include adaptiveValue("width", 60, 50, 1600, 992, 1);
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("height", 50, 45, 767.98, 340, 1);
			@include adaptiveValue("width", 50, 45, 767.98, 340, 1);
		}
	}
	&__logo img {
		padding: 5px;
	}
	// = DESC = //
	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		align-items: baseline;
	}
	&__desc-title {
		margin: 0px 0px 0px 10px;
		color: $white;
		@include adaptiveValue("font-size", 28, 24, 1600, 992, 1);
		font-weight: 900;
		text-align: left;
		text-transform: uppercase;
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 24, 18, 767.98, 450, 1);
		}
		@media (max-width: rem(449.98)) {
			@include adaptiveValue("font-size", 18, 15, 767.98, 340, 1);
		}
	}
	&__desc-subtitle {
		@include adaptiveValue("font-size", 14, 12, 1600, 992, 1);
		//font-style: italic;
		font-weight: 400;
		text-transform: uppercase;
		//padding: 0px 0px 0px 3px;
		color: $gray;
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 12, 11, 767.98, 340, 1);
		}
		// @media (max-width: rem(449.98)) {
		// 	@include adaptiveValue("font-size", 18, 15, 767.98, 340, 1);
		// }
	}
	// &__desc-subtitle::before {
	// 	display: none;
	// 	content: "/";
	// 	margin: 0px 4px 0px 4px;
	// 	@include adaptiveValue("font-size", 14, 12, 1600, 992, 1);
	// }
	&__desc-subtitle > span + span::before {
		display: inline-block;
		position: relative;
		margin: 0px 5px 0px 5px;
		content: "|";
	}

	// = ICON = //
	&__icon {
		transition: all 0.5s ease 0s;
		width: rem(40);
		height: rem(40);
		//@include adaptiveValue("height", 30, 25, 1600, 992, 1);
		//@include adaptiveValue("width", 30, 25, 1600, 992, 1);
		overflow: hidden;
		border-radius: rem(3);
		@media (max-width: rem(767.98)) {
			//@include adaptiveValue("height", 25, 20, 767.98, 340, 1);
			//@include adaptiveValue("width", 25, 20, 767.98, 340, 1);
		}
	}
}

// == BUTTON SPOLLERS == //
.button-spollers {
	// = ITEM = //
	&__item {
		margin: 20px 0px 0px 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// = BODY = //
	&__body {
		width: 100%;
	}

	// = VIDEO = //
	&__video {
		border-radius: rem(10);
		overflow: hidden;
		position: relative;
		aspect-ratio: 16 / 9;
		margin: 10px 0px 20px 0px;
		@include adaptiveValue("margin-right", 250, 100, 1600, 992, 1);
		@include adaptiveValue("margin-left", 250, 100, 1600, 992, 1);
		@media (max-width: rem(767.98)) {
			margin: 10px 0px 10px 0px;
		}
	}
	&__video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
