// === BANNER SLIDER === //

.banner-slider {
	// === BOX === //
	&__box {
		position: relative;
		overflow: hidden;
		min-height: rem(300);
	}

	// === WRAPPER === //
	&__wrapper {
	}

	// === ITEM === //
	&__item {
		width: 100%;
		border: rem(1) solid $color-base-1;
		min-height: rem(300);
		border-radius: rem(10);
		overflow: hidden;
	}

	// === IMAGE === //
	&__image {
		position: relative;
		padding: 0px 0px 30% 0px;
		@media (max-width: rem(1049.98)) {
			padding: 0px 0px 40% 0px;
		}
		@media (max-width: rem(799.98)) {
			padding: 0px 0px 50% 0px;
		}
		@media (max-width: rem(639.98)) {
			padding: 0px 0px 60% 0px;
		}
		@media (max-width: rem(539.98)) {
			padding: 0px 0px 70% 0px;
		}
		@media (max-width: rem(469.98)) {
			padding: 0px 0px 80% 0px;
		}
		@media (max-width: rem(409.98)) {
			padding: 0px 0px 90% 0px;
		}
		@media (max-width: rem(369.98)) {
			padding: 0px 0px 100% 0px;
		}
		@media (max-width: rem(339.98)) {
			padding: 0px 0px 105% 0px;
		}
	}
	// === NAVIGATION & PAGINATION === //

	&__navigation {
	}

	&__nav-prev {
	}

	&__nav-next {
	}
	&__pagination {
	}
	.swiper-pagination {
		position: relative;
		@include adaptiveValue("margin-top", 30, 20, 992, 768, 1);
	}

	.swiper-pagination-bullet {
		@include adaptiveValue("width", 20, 14, 992, 768, 1);
		@include adaptiveValue("height", 20, 14, 992, 768, 1);
		@include adaptiveValue("line-height", 20, 14, 992, 768, 1);
		background-color: $color-base-1;
	}
	// === SLIDE-ACTIVE === //
	.swiper-slide-active {
	}
}
