// === GALERY SLIDER === //
.galery-slider {
	//position: relative;
	margin: 20px 0px 10px 0px;
	@include adaptiveValue("margin-bottom", 30, 15, 1600, 600, 1);
	@media (max-width: rem(767.98)) {
		margin: 20px 0px 0px 0px;
	}
	// === BOX === //
	&__box {
		position: relative;
		overflow: hidden;
	}

	// === WRAPPER === //
	&__wrapper {
	}

	// === ITEM === //
	&__item {
		position: relative;
		border: rem(1) solid $color-base-7;
		overflow: hidden;
		border-radius: rem(10);
		@media (min-width: rem(1920.98)) {
			max-width: rem(600);
		}
		@media (max-width: rem(1920)) {
			max-width: rem(800);
		}
		@media (max-width: rem(1366)) {
			max-width: rem(670);
		}
		@media (max-width: rem(1280)) {
			max-width: rem(660);
		}
		@media (max-width: rem(1200)) {
			max-width: rem(650);
		}
	}
	&__link {
	}

	// === IMAGE === //
	&__image {
		position: relative;
		padding: 0px 0px 66% 0px;
		overflow: hidden;
	}

	// = NAVIGATION = //

	&__navigation {
		z-index: 4;
		max-width: rem(1370);
		width: 100%;
		padding: 0px 20px 0px 20px;
		position: absolute;
		top: 45%;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("gap", 30, 20, 1600, 767.98, 1);
		@media (max-width: rem(767.98)) {
			padding: 0px 8px 0px 8px;
		}
	}
	&__nav-prev,
	&__nav-next {
		overflow: hidden;
		opacity: 0.5;
		border-radius: rem(10);
		padding: rem(8);
		background-color: transparent;
		@include adaptiveValue("width", 50, 40, 1600, 767.98, 1);
		@include adaptiveValue("height", 50, 40, 1600, 767.98, 1);
		transition: all 0.5s ease 0s;
		cursor: pointer;
		@media (max-width: rem(991.98)) {
			opacity: 1;
		}

		@media (any-hover: hover) {
			&:hover {
				transition: all 0.5s ease 0s;
				transform: scale(1.3);
				opacity: 1;
				border: rem(2) solid $color-base-4;
				background-color: $color-base-1;
			}
		}
	}
	&__pagination {
	}
	.swiper-pagination {
		position: relative;
		margin-top: rem(30);
		@media (max-width: rem(767.98)) {
			display: none;
		}
	}
	.swiper-pagination-bullet {
		width: rem(10);
		height: rem(10);
		line-height: rem(16);
		background-color: $color-base-3;
		border: rem(1) solid $color-base-4;
	}

	// === SLIDE-ACTIVE === //
	.swiper-slide-active {
	}
	.swiper-slide-active &__slide-label {
		opacity: 1;
	}
}
