// === HEAD SLIDER === // (AD)
.head-slider {
	position: relative;
	overflow: hidden;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	border-radius: rem(10);
	min-width: 100%;
	@media (max-width: rem(767.98)) {
		grid-column: 1 / 4;
		min-height: rem(420);
	}
	@media (max-width: rem(549.98)) {
		min-height: rem(400);
	}

	// === BOX === //
	&__box {
		@include adaptiveValue("margin-top", 155, 160, 1920, 768, 1);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: rem(20);

		@media (max-width: $tablet) {
			@include adaptiveValue("margin-top", 90, 85, 767.98, 600, 1);
			gap: rem(10);
		}
	}

	// === WRAPPER === //
	&__wrapper {
	}

	// === ITEM === //
	&__item {
		position: relative;
		border: rem(1) solid $color-base-1;
		border-radius: rem(10);
		overflow: hidden;

		@media (min-width: rem(767.98)) {
			min-height: rem(420);
		}
	}
	&__link {
	}

	// === IMAGE === //
	&__image {
		position: relative;
		padding: 0px 0px 66% 0px;
		overflow: hidden;
		@media (max-width: rem(991.98)) {
			padding: 0px 0px 76% 0px;
		}
		@media (max-width: rem(879.98)) {
			padding: 0px 0px 86% 0px;
		}
		@media (max-width: rem(767.98)) {
			padding: 0px 0px 76% 0px;
		}
		@media (max-width: rem(649.98)) {
			padding: 0px 0px 86% 0px;
		}
		@media (max-width: rem(499.98)) {
			padding: 0px 0px 96% 0px;
		}
		@media (max-width: rem(449.98)) {
			padding: 0px 0px 106% 0px;
		}
		@media (max-width: rem(409.98)) {
			padding: 0px 0px 120% 0px;
		}
		@media (max-width: rem(369.98)) {
			padding: 0px 0px 140% 0px;
		}
	}
	// === SLIDE LABEL === //
	&__slide-label {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-transform: uppercase;
		color: $white;
		background: linear-gradient(180deg, rgba(46, 0, 106, 0) 0%, rgba(46, 0, 106, 0.6) 100%);
	}

	&__slide-title {
		position: absolute;
		bottom: 0;
		left: 0;
		font-weight: 700;
		width: 100%;
		height: auto;
		@include adaptiveValue("padding-right", 40, 16, 1920, 768, 1);
		@include adaptiveValue("padding-left", 40, 16, 1920, 768, 1);
		@include adaptiveValue("padding-bottom", 50, 40, 1920, 768, 1);
		@include adaptiveValue("font-size", 48, 30, 1920, 768, 1);
		@include adaptiveValue("line-height", 56, 36, 1920, 768, 1);
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("padding-bottom", 30, 10, 767.98, 400, 1);
			@include adaptiveValue("font-size", 30, 20, 767.98, 400, 1);
			@include adaptiveValue("line-height", 32, 24, 767.98, 400, 1);
		}
	}
	&__slide-subtitle {
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 13, 1920, 768, 1);
		@include adaptiveValue("line-height", 30, 18, 1920, 768, 1);
		@include adaptiveValue("letter-spacing", 2, 1.5, 1920, 768, 1);
	}

	&__slide-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 11, 1920, 768, 1);
		@include adaptiveValue("line-height", 20, 14, 1920, 768, 1);
		@include adaptiveValue("letter-spacing", 2, 1.5, 1920, 768, 1);
	}

	// === NAVIGATION & PAGINATION === //

	&__navigation {
	}

	&__nav-prev {
	}

	&__nav-next {
	}
	&__pagination {
	}
	.swiper-pagination {
		position: absolute;
		left: 80%;
		bottom: rem(20);
		width: fit-content;
		//@include adaptiveValue("margin-top", 30, 20, 992, 768, 1);
		@media (max-width: rem(649.98)) {
			//display: none;
			left: 60%;
			//right: rem(20);
			//width: rem(160);
			bottom: 92%;
		}
	}

	.swiper-pagination-bullet {
		@include adaptiveValue("width", 12, 6, 992, 768, 1);
		@include adaptiveValue("height", 12, 6, 992, 768, 1);
		@include adaptiveValue("line-height", 12, 6, 992, 768, 1);
		background-color: $color-base-4;
		//border: rem(1) solid $color-base-3;
	}
	// === SLIDE-ACTIVE === //
	.swiper-slide-active {
	}
	.swiper-slide-active &__slide-label {
		opacity: 1;
	}
}
