// === MONTH SLIDER === // (AD)
.month-slider {
	//@include adaptiveValue("margin-bottom", 40, 20, 1600, 320, 1);

	// = ROW = //
	&__row {
		border: rem(1) solid $bgColor_2;
		border-radius: rem(3) rem(3) 0px 0px;
		max-width: 100%;
		background-color: $color-base-1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__row-ofset {
		margin: 20px 0px 10px 0px;
	}

	// = BLOCK = //
	&__block {
		position: relative;
		height: fit-content;
		//width: 100%;
		@include adaptiveValue("width", 442.2, 238.2, 1430, 768, 1);
		padding: 20px 0px 20px 0px;
		@media (max-width: rem(429.98)) {
			width: 100%;
			padding: 20px 20px 20px 20px;
		}
	}
	&__block-on-tab {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		position: relative;
		height: fit-content;
		//width: 100%;
		@include adaptiveValue("width", 431.53, 227.53, 1430, 768, 1);
		padding: 20px 0px 20px 0px;
		@media (max-width: rem(991.98)) {
			width: 100%;
			grid-column: 1 / 3;
		}
		@media (max-width: rem(449.98)) {
			width: 100%;
		}
	}
	&__block-on-spoller {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: fit-content;

		//@include adaptiveValue("width", 431.53, 227.53, 1430, 768, 1);

		@media (max-width: rem(991.98)) {
			//width: 100%;
			//grid-column: 1 / 3;
		}
		@media (max-width: rem(449.98)) {
			//width: 100%;
		}
	}

	// = BOX = //
	&__box {
		overflow: hidden;
	}
	&__box-1 {
		padding: 20px 0px 20px 0px;
		position: relative;
		overflow: hidden;
		width: 50%;
		@media (max-width: rem(499.98)) {
			width: 100%;
		}
	}

	// = TITLE = //
	&__title {
		color: $color-base-4;
		text-transform: uppercase;
		font-weight: 900;
		//@include adaptiveValue("line-height", 50, 40, 1600, 768, 1);
		@include adaptiveValue("font-size", 40, 24, 1600, 768, 1);
		//@include adaptiveValue("line-height", 40, 30, 499.98, 340, 1);
		line-height: rem(40);
		@include adaptiveValue("font-size", 24, 20, 767.98, 430, 1);
	}
	&__title span {
		font-family: $fontFamily;
		@include adaptiveValue("font-size", 38, 22, 1600, 768, 1);
	}

	// = WRAPPER = //
	&__wrapper {
	}

	// = ITEM = //
	&__item {
		//width: rem(220);
		max-height: rem(40);
		display: flex;
		align-items: center;
		justify-content: center;
		//background-color: $color-base-6;
		//border: rem(1) solid $white;
		border-radius: rem(3);
	}

	// = PAGINATION = //
	&__pagination {
	}
	.swiper-pagination {
	}

	// = NAVIGATION = //
	&__navigation {
		width: 100%;
		padding: 0px 0px 0px 0px;
		position: absolute;
		top: rem(20);
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		//@include adaptiveValue("gap", 30, 20, 1600, 767.98, 1);
		z-index: 2;
		//@media (max-width: rem(429.98)) {
		//padding: 0px 12px 0px 12px;
		//}
		// @media (max-width: rem(767.98)) {
		// 	display: flex;
		// }
		// @media (max-width: rem(649.98)) {
		// 	display: none;
		// }
	}
	&__nav-prev,
	&__nav-next {
		//@include adaptiveValue("width", 50, 40, 1600, 767.98, 1);
		//@include adaptiveValue("height", 50, 40, 1600, 767.98, 1);
		height: rem(40);
		width: rem(40);
		//opacity: 0.3;
		border-radius: rem(3);
		//background-color: $color-base-6;
		//border: rem(1) solid $white;
		transition: all 0.5s ease 0s;
		cursor: pointer;
		@media (max-width: rem(991.98)) {
			opacity: 1;
		}
		@media (max-width: rem(499.98)) {
			//@include adaptiveValue("width", 40, 30, 499.98, 340, 1);
			//@include adaptiveValue("height", 40, 30, 499.98, 340, 1);
		}

		@media (any-hover: hover) {
			&:hover {
				transition: all 0.5s ease 0s;
				transform: scale(1.2);
				//border: rem(1) solid $white;
				opacity: 1;
			}
		}
	}
}
