// === PARTNERS SLIDER === // (AD)
.partners-slider {
	background-color: $color-base-8;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
	overflow: hidden;
	border-radius: rem(10);
	//@include adaptiveValue("margin-bottom", 40, 20, 1600, 320, 1);
	//@include adaptiveValue("margin-top", 40, 20, 1600, 320, 1);

	// === PARTNERS SLIDER BOX === //
	&__box {
		position: relative;
		overflow: hidden;
	}

	// === PARTNERS SLIDER TITLE === //
	&__title {
	}

	// === PARTNERS SLIDER WRAPPER === //
	&__wrapper {
	}

	// === PARTNERS SLIDER ITEM === //
	&__item {
		width: rem(220);
		height: rem(130);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// === PARTNERS SLIDER IMAGE === //
	// &__image {
	// 	display: block;
	// 	@include adaptiveValue("width", 200, 150, 1600, 320, 1);
	// 	@include adaptiveValue("height", 68, 51, 1600, 320, 1);
	// }

	&__image-1 {
		//@include adaptiveValue("width", 200, 150, 1600, 320, 1);
		//@include adaptiveValue("height", 68, 51, 1600, 320, 1);
	}
	&__image-2 {
		//@include adaptiveValue("width", 200, 150, 1600, 320, 1);
		//@include adaptiveValue("height", 33, 24.73, 1600, 320, 1);
	}
	&__image-3 {
		//@include adaptiveValue("width", 150, 130, 1600, 320, 1);
		//@include adaptiveValue("height", 52.5, 45.5, 1600, 320, 1);
	}
	&__image-4 {
		//@include adaptiveValue("width", 200, 150, 1600, 320, 1);
		//@include adaptiveValue("height", 44.88, 33.66, 1600, 320, 1);
	}
	&__image-5 {
		//@include adaptiveValue("width", 200, 150, 1600, 320, 1);
		//@include adaptiveValue("height", 78, 58.8, 1600, 320, 1);
	}
	&__image-6 {
		//@include adaptiveValue("width", 200, 150, 1600, 320, 1);
		//@include adaptiveValue("height", 22.86, 17.14, 1600, 320, 1);
	}
	&__image-7 {
		//@include adaptiveValue("width", 150, 130, 1600, 320, 1);
		//@include adaptiveValue("height", 81, 70.2, 1600, 320, 1);
	}
	&__image-8 {
		//@include adaptiveValue("width", 150, 120, 1600, 320, 1);
		//@include adaptiveValue("height", 123.78, 99.03, 1600, 320, 1);
	}
	&__image-9 {
		@include adaptiveValue("width", 200, 150, 1600, 320, 1);
		@include adaptiveValue("height", 74.8, 56.1, 1600, 320, 1);
	}
	&__image-10 {
		@include adaptiveValue("width", 130, 110, 1600, 320, 1);
		@include adaptiveValue("height", 130, 110, 1600, 320, 1);
	}

	&__image,
	&__image-1,
	&__image-2,
	&__image-3,
	&__image-4,
	&__image-5,
	&__image-6,
	&__image-7,
	&__image-8,
	&__image-9,
	&__image-10 {
		width: rem(220);
		height: rem(130);

		@media (any-hover: hover) {
			&:hover {
				.partners-slider__img-hover {
					opacity: 1;
					transition: all 0.5s ease 0s;
				}
				.partners-slider__img {
					opacity: 0;
					transition: all 0.5s ease 0s;
				}
			}
		}
	}

	&__img {
		opacity: 1;
		transition: all 0.5s ease 0s;
	}

	&__img-hover {
		opacity: 0;
		transition: all 0.5s ease 0s;
	}

	// === PARTNERS SLIDER PAGINATION === //
	&__pagination {
	}
	.swiper-pagination {
	}

	// === PARTNERS SLIDER NAVIGATION === //
	&__navigation {
	}
	&__nav-prev {
	}
	&__nav-next {
	}
}
