// === PERSON MENU SLIDER === //
.person-menu-slider {
	background-color: $white;
	// === BOX === //
	&__box {
		overflow: hidden;
	}

	// === WRAPPER === //
	&__wrapper {
		justify-content: center;
		@media (max-width: rem(767.98)) {
			justify-content: space-between;
		}
	}

	// === ITEM === //
	&__item {
		//overflow: hidden;
		max-width: fit-content;
		@media (max-width: rem(767.98)) {
			max-width: none;
			display: flex;
			justify-content: center;
		}
		//width: 100%;
		//z-index: 2;
	}

	// === NAVIGATION & PAGINATION === //
	&__navigation {
		padding: 0px 0px 10px 0px;
	}

	&__nav-prev,
	&__nav-next {
		//opacity: 0.3;
		//@include adaptiveValue("margin-right", 20, 40, 991.98, 600, 1);
		//@include adaptiveValue("margin-top", 20, 0, 991.98, 600, 1);
		@include adaptiveValue("width", 50, 40, 1600, 767.98, 1);
		@include adaptiveValue("height", 50, 40, 1600, 767.98, 1);
		opacity: 0.3;
		transition: all 0.5s ease 0s;
		cursor: pointer;
		z-index: 2;
		@media (max-width: rem(991.98)) {
			opacity: 1;
		}

		@media (any-hover: hover) {
			&:hover {
				transition: all 0.5s ease 0s;
				transform: scale(1.3);
				opacity: 1;
			}
		}
	}

	// .team-slider__navigation
	&__navigation {
		display: flex;
		align-items: center;
		justify-content: right;
		@include adaptiveValue("gap", 30, 20, 1600, 767.98, 1);
		z-index: 2;
	}

	// === SLIDE-ACTIVE === //
	.swiper-slide > .person-selector__btn-active {
		border-bottom: rem(10) solid $color-base-1;
		font-weight: 700;
		color: $color-base-1;
		transition: all 0.5s ease 0s;
	}
	.swiper-slide-active &__slide-label {
	}
}
