// === CALENDAR SLIDER === // (AD)

.store-slider {
	margin: 10px 0px 30px 0px;
	//padding: 20px 9px 20px 9px;
	overflow: hidden;
	border-radius: rem(10);

	// = STORE PRODUCT CARDS = //
	.store-card {
		border: 1px solid $color-base-1;
	}

	// = BOX = //
	&__box {
		position: relative;
	}
	// = BTN = //
	&__btn {
		position: absolute;
		width: rem(378);
		color: $white;
		background-color: $mainColor;
		border: rem(1) solid $white;
		bottom: -70px;
		left: calc(50% - 190px);
		transition: transform all 0.5s ease 0s;
		@media (max-width: rem(650)) {
			bottom: -80px;
		}
		@media (max-width: rem(450)) {
			width: 100%;
			left: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $cle_red;
				transform: scale(1.2);
				transition: transform all 0.5s ease 0s;
			}
		}
	}

	// = WRAPPER = //
	&__wrapper {
	}
	// = ITEM = //
	&__item {
		position: relative;
		overflow: hidden;
		border-radius: rem(10);
	}

	// = NAVIGATION = //

	&__navigation {
		//position: absolute;
		//bottom: 0;
		//right: 0;
		display: flex;
		align-items: center;
		justify-content: right;
		@include adaptiveValue("gap", 30, 20, 1600, 767.98, 1);
		z-index: 2;
		@media (max-width: rem(499.98)) {
			//display: none;
		}
	}
	&__nav-prev,
	&__nav-next {
		@include adaptiveValue("width", 50, 40, 1600, 767.98, 1);
		@include adaptiveValue("height", 50, 40, 1600, 767.98, 1);
		opacity: 0.3;
		transition: all 0.5s ease 0s;
		cursor: pointer;
		@media (max-width: rem(991.98)) {
			opacity: 1;
		}

		@media (any-hover: hover) {
			&:hover {
				transition: all 0.5s ease 0s;
				transform: scale(1.3);
				opacity: 1;
			}
		}
	}

	// = PAGINATION = //
	&__pagination {
	}
	// .swiper-pagination {
	// 	display: none;
	// 	position: relative;
	// 	margin-top: rem(30);
	// 	@media (max-width: rem(767.98)) {
	// 		display: none;
	// 	}
	// }
	// .swiper-pagination-bullet {
	// 	width: rem(20);
	// 	height: rem(20);
	// 	line-height: rem(20);
	// 	background-color: $white;
	// 	border: rem(1) solid $bgColor_2;
	// }

	.swiper-pagination {
		//display: none;
		position: relative;
		margin-top: rem(30);
		@media (max-width: rem(767.98)) {
			display: none;
		}
	}
	.swiper-pagination-bullet {
		width: rem(10);
		height: rem(10);
		line-height: rem(16);
		background-color: $color-base-3;
		border: rem(1) solid $color-base-4;
	}
}
