// === VIDEO SLIDERS === //

// = VIDEO SLIDER = //
.video-slider {
	// === VIDEO SLIDER BLOCK === //
	&__block {
		margin: 20px 0px 20px 0px;
		overflow: hidden;
	}

	// === VIDEO SLIDER WRAPPER === //
	&__wrapper {
	}

	// === VIDEO SLIDER ITEM === //
	&__item {
		width: 100%;
		overflow: hidden;
		border: rem(1) solid $color-base-1;
		border-radius: rem(10);
	}

	// === VIDEO SLIDER BOX === //
	&__box {
		position: relative;
		aspect-ratio: 16/9;
		padding: 0px 0px 56% 0px;
		overflow: hidden;
	}

	&__box video,
	&__box iframe {
		object-position: top;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	// === VIDEO SLIDER NAVIGATION & PAGINATION === //
	&__navigation {
		display: flex;
		align-items: center;
		justify-content: right;
		@include adaptiveValue("gap", 30, 20, 1600, 767.98, 1);
	}
	&__nav-prev,
	&__nav-next {
		z-index: 3;
		opacity: 0.3;
		@include adaptiveValue("width", 50, 40, 1600, 767.98, 1);
		@include adaptiveValue("height", 50, 40, 1600, 767.98, 1);
		transition: all 0.5s ease 0s;
		cursor: pointer;
		@media (max-width: rem(991.98)) {
			opacity: 1;
		}
		@media (any-hover: hover) {
			&:hover {
				transition: all 0.5s ease 0s;
				transform: scale(1.3);
				opacity: 1;
			}
		}
	}

	// === SLIDE-ACTIVE === //
	.swiper-slide-active {
		//box-shadow: $shadow-1;
	}

	.swiper-pagination {
		position: relative;
		margin-top: rem(30);
		@media (max-width: rem(767.98)) {
			display: none;
		}
	}
	.swiper-pagination-bullet {
		width: rem(10);
		height: rem(10);
		line-height: rem(16);
		background-color: $color-base-3;
		border: rem(1) solid $color-base-4;
	}
}

// = BIG SCREEN SLIDER = //
.big-screen-slider {
	&__box {
		position: relative;
		width: rem(1000);
		height: rem(560);
		overflow: hidden;
	}

	&__wrapper {
	}

	&__item {
		width: rem(1140);
		height: rem(640);
		@media (max-width: rem(991.98)) {
		}
	}

	&__navigation {
	}
	&__nav-prev {
	}
	&__nav-next {
	}
}

// = SCREEN MENU SLIDER = //
.screen-menu-slider {
	&__box {
	}

	&__wrapper {
	}

	&__item {
	}

	&__navigation {
	}
	&__nav-prev {
	}
	&__nav-next {
	}
}
