@font-face {
	font-family: bebasneuepro;
	font-display: swap;
	src: url("../fonts/bebasneuepro-bold.woff2") format("woff2"), url("../fonts/bebasneuepro-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: bebasneuepro;
	font-display: swap;
	src: url("../fonts/bebasneuepro-exprg.woff2") format("woff2"), url("../fonts/bebasneuepro-exprg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
