// === TIME-LINE === //
.timeline {
	/* The actual timeline (the vertical ruler) */
	position: relative;
	margin: 0 auto;
	padding: 40px 0px 0px 0px;
	@media (max-width: rem(599.98)) {
	}

	// = BOX = //
	&__box {
		position: relative;
		background-color: inherit;
		width: 50%;
	}
	&__box-left {
		padding: 10px 30px 10px 0px;
		@media (max-width: rem(599.98)) {
			padding: 30px 40px 30px 0px;
		}
	}
	&__box-right {
		padding: 10px 0px 10px 30px;
	}
	/* The circles on the timeline */
	&__box::after {
		content: "";
		position: absolute;
		width: 24px;
		height: 24px;
		right: -12px;
		background-color: $color-base-7;
		border: 2px solid $color-base-7;
		top: 16px;
		border-radius: rem(3);
		z-index: 2;
		@media (max-width: rem(599.98)) {
		}
	}

	// = SIDES = //
	&__left-side {
		left: 0;
		@media (max-width: rem(599.98)) {
			width: 100%;
			padding-left: 40px;
			padding-right: 0px;
		}
	}
	&__left-side::after {
		@media (max-width: rem(599.98)) {
			top: 38px;
		}
	}
	&__right-side {
		left: 50%;
		@media (max-width: rem(599.98)) {
			left: 0%;
			width: 100%;
			padding-left: 40px;
			padding-right: 0px;
		}
	}
	&__right-side::after {
		left: -12px;
	}
	&__left-side::after,
	&__right-side::after {
		@media (max-width: rem(599.98)) {
			left: 0px;
		}
	}

	// = CONTENT = //
	&__content {
		background-color: $color-base-6;
		position: relative;
		border: rem(1) solid $color-base-7;
		border-radius: rem(10);
		padding: rem(12);
	}

	// = DATE = //
	&__date {
		position: absolute;
		display: inline-block;
		font-family: $fontFamily;
		@include adaptiveValue("top", -50, -30, 1600, 600, 1);
		@include adaptiveValue("font-size", 36, 24, 1600, 600, 1);
		@include adaptiveValue("line-height", 48, 30, 1600, 600, 1);
		color: $color-base-5;
		font-weight: 900;
	}
	&__date-left {
		right: rem(10);
	}
	&__date-right {
		left: rem(10);
		@media (max-width: rem(599.98)) {
			left: auto;
			right: rem(10);
		}
	}

	// = TEXT = //
	&__text {
		color: $color-base-4;
		text-align: start;
		width: 100%;
		font-weight: 400;
		text-transform: uppercase;
		//font-style: italic;
		@include adaptiveValue("font-size", 15, 13, 1600, 600, 1);
		@include adaptiveValue("line-height", 22, 18, 1600, 600, 1);
		@media (max-width: rem(599.98)) {
			@include adaptiveValue("font-size", 15, 10, 599.98, 320, 1);
			@include adaptiveValue("line-height", 22, 16, 599.98, 320, 1);
		}
	}
	&__text-left {
	}

	// = BAGE = //
	&__bage {
		color: $color-base-5;
		display: inline-block;
		letter-spacing: 1;
		text-transform: uppercase;
		width: 100%;
		@include adaptiveValue("font-size", 20, 18, 1600, 600, 1);
		@include adaptiveValue("line-height", 28, 24, 1600, 600, 1);
		font-weight: 900;
	}
	&__bage-left {
		text-align: end;
		@media (max-width: rem(599.98)) {
			text-align: start;
		}
	}
	&__bage-right {
	}

	// = LOGO = //
	&__logo {
		position: absolute;
		top: rem(12);
		opacity: 1;
		background-color: $color-base-5;
		border-radius: 50%;
		overflow: hidden;
		@include adaptiveValue("height", 80, 60, 1600, 600, 1);
		@include adaptiveValue("width", 80, 60, 1600, 600, 1);
	}
	&__logo img {
		padding: rem(5);
	}
	&__logo-l {
		left: rem(12);
		@media (max-width: rem(599.98)) {
			left: auto;
			right: rem(12);
		}
	}
	&__logo-r {
		right: rem(12);
	}

	// = LABEL = //
	&__label {
		//font-style: italic;
		text-transform: uppercase;
		font-weight: 400;
		color: $color-base-4;
		@include adaptiveValue("font-size", 15, 13, 1600, 600, 1);
		@include adaptiveValue("line-height", 20, 18, 1600, 600, 1);
	}
	&__label-left {
		text-align: end;
		@media (max-width: rem(599.98)) {
			text-align: start;
		}
	}
	&__label-right {
	}

	// = TITLE = //
	&__title {
		position: relative;
		text-align: center;
		color: $white;
		text-transform: uppercase;
		width: 100%;
		letter-spacing: rem(1);
		@include adaptiveValue("margin-top", 20, 30, 1400, 600, 1);
		@include adaptiveValue("font-size", 32, 16, 1400, 600, 1);
		@include adaptiveValue("line-height", 42, 24, 1400, 600, 1);
		font-weight: 900;
		@media (max-width: rem(599.98)) {
			@include adaptiveValue("font-size", 30, 16, 599.98, 320, 1);
			@include adaptiveValue("line-height", 42, 24, 599.98, 320, 1);
		}
	}

	// = STATS = //
	&__stats {
	}
	&__stats-left {
	}
	&__stats-right {
	}

	&__stats-list {
		@include adaptiveValue("margin-top", 40, 30, 1400, 600, 1);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: rem(8);
		@media (max-width: rem(949.98)) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (max-width: rem(719.98)) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: rem(599.98)) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (max-width: rem(374.98)) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&__stats-item {
		background-color: $color-base-7;
		padding: 5px 12px 5px 12px;
		overflow: hidden;
		border-radius: rem(5) 0px rem(5) 0px;
		@media (max-width: rem(991.98)) {
			text-align: center;
		}
	}

	&__stats-item-g,
	&__stats-item-w,
	&__stats-item-l,
	&__stats-item-pr {
		color: $white;
		font-weight: 700;
		@include adaptiveValue("font-size", 22, 18, 1400, 600, 1);
		@include adaptiveValue("line-height", 30, 24, 1400, 600, 1);
	}

	&__stats-item-4 {
		// grid-column: 5 / 7;
		// grid-row: 2 / 3;
		@media (max-width: rem(949.98)) {
			grid-column: 1 / 4;
			grid-row: 2 / 3;
		}
		@media (max-width: rem(719.98)) {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
		@media (max-width: rem(599.98)) {
			grid-column: 1 / 4;
			grid-row: 2 / 3;
		}
		@media (max-width: rem(374.98)) {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
	}
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: "";
	position: absolute;
	width: rem(6);
	background-color: $color-base-7;
	border-radius: rem(1);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	z-index: 1;
	@media (max-width: rem(599.98)) {
		left: 13px;
	}
}
