// === TABS MENU === //

// === TABS MENU / HORIZONTAL === //
.tabs-hor-menu {
	// = BOX = //
	&__box {
		position: relative;
	}

	// = TABS NAV = //
	&__tabs-nav {
		background-color: $mainColor;
		min-height: 70px;
		overflow-x: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		//gap: rem(3);
		@media (max-width: rem(767.98)) {
			//justify-content: start;
			padding: 0px 10px 0px 10px;
		}
		@media (max-width: rem(599.98)) {
			justify-content: start;
			//padding: 0px 10px 0px 10px;
		}
	}
	&__tabs-nav::-webkit-scrollbar {
		//margin: 20px 0px 0px 0px;
		//padding: 20px 0px 0px 0px;
		//background-color: $color-base-1;
		//display: none;
	}
	&__tabs-mini-nav {
		background-color: $white;
		min-height: 80px;
		overflow-x: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		//gap: rem(3);
		@media (max-width: rem(767.98)) {
			min-height: rem(70);
			//justify-content: start;
			//padding: 0px 15px 0px 15px;
		}
	}
	&__tabs-mini-nav::-webkit-scrollbar {
		display: none;
	}

	// = TABS TITLE = //
	&__tabs-title {
		padding: 26px 24px 16px 24px;
		@include adaptiveValue("font-size", 24, 20, 1600, 768, 1);
		font-weight: 700;
		color: $color-base-5;
		background-color: $mainColor;
		white-space: nowrap;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: rem(1);
		border-bottom: rem(10) solid transparent;
		border-radius: rem(3) rem(3) 0px 0px;
		transition: all 0.5s ease 0s;
		@media (max-width: rem(767.98)) {
			padding: 22px 20px 12px 20px;
			@include adaptiveValue("font-size", 20, 16, 767.98, 600, 1);
			//min-width: rem(140);
			flex-basis: rem(182);
			width: fit-content;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $color-base-5;
				//background-color: $color-base-7;
				border-bottom: rem(10) solid $color-base-7;
				transition: all 0.5s ease 0s;
			}
		}
	}
	&__tabs-mini-title {
		padding: 26px 24px 16px 24px;
		@include adaptiveValue("font-size", 20, 16, 1600, 768, 1);
		font-weight: 400;
		//min-width: rem(160);
		flex-basis: rem(160);
		text-align: center;
		text-transform: uppercase;
		letter-spacing: rem(1);
		border-bottom: rem(10) solid transparent;
		//border-radius: rem(3) rem(3) 0px 0px;
		transition: all 0.5s ease 0s;
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 16, 12, 767.98, 360, 1);
			padding: 20px 18px 12px 18px;
			//min-width: rem(93);
			flex-basis: rem(93);
			width: fit-content;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $color-base-1;
				background-color: $white;
				border-bottom: rem(10) solid $bgColor_2;
				transition: all 0.5s ease 0s;
			}
		}
	}
	&__tabs-mini-title span {
	}

	// = .TAB-ACTIVE = //
	._tab-active {
		border-bottom: rem(10) solid $color-base-4;
		font-weight: 700;
		color: $color-base-4;
		transition: all 0.5s ease 0s;
	}

	// = TABS CONTENT = //
	&__tabs-content {
	}

	// = TABS BODY = //
	&__tabs-body {
		padding: 20px 0px 0px 0px;
		//background-color: $cle_red;
		@media (max-width: rem(767.98)) {
			padding: 15px 0px 30px 0px;
		}
		@media (max-width: rem(459.98)) {
			padding: 10px 0px 10px 0px;
		}
	}
}
