// === NEWS LINE GRID === //
.news-line {
	// = BLOCK = //
	&__block {
		.page-two-columns__wrapper-sb-r {
			@media (max-width: rem(1319.98)) {
				display: flex;
				flex-direction: column-reverse;
				gap: 0px;
			}
		}
	}
	// = GRID = //
	&__grid {
		margin: 30px 0px 0px 0px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: rem(20);

		@media (max-width: rem(991.98)) {
			gap: rem(10);
		}
		@media (max-width: rem(749.98)) {
		}
		// @media (max-width: rem(1274.98)) {
		// 	grid-template-columns: 1fr 1fr 1fr 1fr;
		// }
		// @media (max-width: rem(1239.98)) {
		// 	grid-template-columns: 1fr 1fr 1fr;
		// }
		// @media (max-width: rem(934.98)) {
		// 	margin: 20px 0px 0px 0px;
		// 	grid-template-columns: 1fr 1fr;
		// }
		// @media (max-width: rem(619.98)) {
		// 	margin: 10px 0px 0px 0px;
		// 	grid-template-columns: 1fr;
		// }
		.card {
			border: rem(1) solid $color-base-1;
		}
	}

	// = ITEM = //
	&__item {
		height: fit-content;
	}
	&__item-1 {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}
	&__item-2 {
		grid-column: 4 / 7;
		grid-row: 1 / 2;
	}
	&__item-3 {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
		//max-height: rem(402);
	}
	&__item-4 {
		grid-column: 3 / 5;
		grid-row: 2 / 3;
		//max-height: rem(402);
	}
	&__item-5 {
		grid-column: 5 / 7;
		grid-row: 2 / 3;
		//max-height: rem(402);
	}
	&__item-6 {
		grid-column: 1 / 4;
		grid-row: 3 / 4;
	}
	&__item-7 {
		grid-column: 4 / 7;
		grid-row: 3 / 4;
	}
	&__item-8 {
		grid-column: 1 / 3;
		grid-row: 4 / 5;
	}
	&__item-9 {
		grid-column: 3 / 5;
		grid-row: 4 / 5;
	}
	&__item-10 {
		grid-column: 5 / 7;
		grid-row: 4 / 5;
	}

	// = SIDEBAR = //
	&__sidebar {
		.spollers__item {
			margin: 20px 0px 0px 0px;
			@media (max-width: rem(1274.98)) {
				margin: 0px 0px 0px 0px;
			}
		}
		.page-two-columns__sidebar-spollers {
			margin: 0px 0px 10px 0px;

			@media (max-width: rem(1274.98)) {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				gap: rem(20);
			}
			@media (max-width: rem(934.98)) {
				grid-template-columns: 1fr 1fr;
			}
			@media (max-width: rem(619.98)) {
				grid-template-columns: 1fr;
			}
		}
	}

	// = PAGINATION = //
	&__pagination {
		width: 100%;
		// @media (max-width: rem(767.98)) {
		// 	display: none;
		// }
	}
}
