// === SCSS IMPORT === //
// === RUNA (Баскетбольный клуб) === //

// = SOCIAL ICONS - SHARE = //
@import "runa/social-icons/social-icons-yandex";

// = ANIMATIONS = //
@import "runa/animations/animation-scroll";

// = SITE PAGE OPTIONS = //
@import "runa/page-options/site-page-sections";
@import "runa/page-options/site-page-grids";
@import "runa/page-options/news-line-grid";

// = TEXT = //
@import "runa/text-style/text-style";

// = SITE FUNCTIONS = //
//@import "runa/game/game-timer";

// = SELECTORS = //
@import "runa/selectors/selectors";

// = MENU = //
@import "runa/menu/main-menu";
@import "runa/menu/tabs-menu";
@import "runa/sliders/menu-sliders";
@import "runa/sliders/person-menu-slider";

// = TITLES = //
@import "runa/title/site-title";

// = TABLES = //
@import "runa/tables/table";

// = NAV / SELECT = //
@import "runa/select/nav-select";

// = SPOLLERS = //
@import "runa/spollers/site-spollers";

// = TABS = //
@import "runa/tabs/site-tabs";
@import "runa/tabs/tabs-selector";

// = BUTTONS = //
@import "runa/buttons/buttons";

// = CARDS = //
@import "runa/publications/publications-cards";
@import "runa/players/player-card-roster";
@import "runa/players/leader-card";
@import "runa/players/player-card-v-h-slider";
@import "runa/game/game-card";
@import "runa/game/game-card-playoff";
@import "runa/calendar/game-card-calendar";
@import "runa/store/store-card";
@import "runa/game/pattern-game-card";
@import "runa/players/team-leader-card";

// = SLIDERS = //
@import "runa/sliders/head-slider";
@import "runa/sliders/calendar-slider";
@import "runa/sliders/publication-slider";
@import "runa/sliders/team-sliders-roster";
@import "runa/sliders/month-slider";
@import "runa/sliders/day-slider";
@import "runa/sliders/video-slider";
@import "runa/sliders/banner-slider";
@import "runa/sliders/store-slider";
@import "runa/sliders/partners-slider";
@import "runa/sliders/sidebar-sliders";
@import "runa/sliders/pub-photo-sliders";
@import "runa/sliders/net-to-slider";
@import "runa/sliders/galery-slider";
@import "runa/sliders/leaders-slider";

// = CONTENT BLOCKS = //
@import "runa/team/team-leaders";
@import "runa/team/team-leaders-game";
@import "runa/calendar/month-calendar";
@import "runa/team/team-compare";
@import "runa/game/head-to-head";

// = PROFILE PERSON = //
@import "runa/person/profile-person-header";
@import "runa/person/profile-photo";
@import "runa/person/person-card-roster";

// = PROFILE TEAM = //
@import "runa/team/profile-team-header";

// = PROFILE GAME = //
@import "runa/game/profile-game-header";
@import "runa/game/profile-game-body";
@import "runa/game/game-progress";

// = PUBLICATION = //
@import "runa/publications/publication";
@import "runa/publications/net-publications";
@import "runa/pagination/pagination";

// = PARTNERS = //
@import "runa/partners/partners";
@import "runa/media/big-screen";
@import "runa/form/form";

@import "runa/time-line/time-line";
@import "runa/gallery/gallery";
@import "runa/gallery/club-gallery";
@import "runa/playoff/play-in";
@import "runa/playoff/play-off";

@import "runa/banners/banners";
@import "runa/shop/shop";

//@import "bem-block/table";
// @import "bem-block/tab";
// @import "bem-block/content-card";
//@import "bem-block/player-card";
// @import "bem-block/blog-slider";
//@import "bem-block/team-roster";
// @import "bem-block/video-tabs";
// @import "bem-block/site-bg";
// @import "bem-block/timer";
// @import "bem-block/profile-person";
// @import "bem-block/time-line";
// @import "bem-block/shoting-map";
// @import "bem-block/stats-nav";
// @import "bem-block/publication";
// @import "bem-block/gallery-1";
// @import "bem-block/sidebar-sliders";
// @import "bem-block/profile-team";
// @import "bem-block/team-profile";
// @import "bem-block/calendar";
// @import "bem-block/teams-comparison";
// @import "bem-block/teams";
// @import "bem-block/team-card";
// @import "bem-block/team-card-1";
// @import "bem-block/tournament-stats";
// @import "bem-block/game-profile";
// @import "bem-block/game-progress";
// @import "bem-block/game-online";
// @import "bem-block/key-stats";
// @import "bem-block/page-profile";
// @import "bem-block/rating";
// @import "bem-block/base-profile";
// @import "bem-block/standing";
// @import "bem-block/coach-card";
