// === CARD PUBLICATION === //
.card {
	position: relative;
	width: 100%;
	//height: 100%;
	height: 100%;
	min-height: rem(360);
	min-width: rem(230);
	background: $color-base-1;
	//border: 1px solid $mainColor;
	overflow: hidden;
	border-radius: rem(10);
	transition: box-shadow 0.3s;
	z-index: 2;
	@media (max-width: rem(799.98)) {
		//min-height: rem(320);
		@include adaptiveValue("min-height", 320, 250, 799.98, 360, 1);
	}

	// === CARD THUMB === //
	&__thumb {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		background-color: transparent;
	}
	&__thumb img {
		max-width: 180%;
		height: fit-content;
		object-fit: cover;
		display: block;
		opacity: 1;
		transition: all 0.8s ease 0s;
		@media (max-width: rem(991.98)) {
			max-width: 210%;
		}
	}

	// === CARD BODY === //
	&__body {
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(46, 0, 106, 0) 0%, rgba(46, 0, 106, 0.6) 100%);
		padding: 20px;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: flex-start;
	}

	// === CARD CATEGORY === //

	&__category {
		position: absolute;
		top: 0;
		right: 0;
		@include adaptiveValue("height", 32, 26, 1920, 768, 1);
		padding: 0 24px;
		background: $color-base-1;
		border-radius: 0px 10px 0px 10px;
		color: $white;
		font-weight: 700;
		letter-spacing: 2px;
		z-index: 5;
	}

	&__category-date,
	&__category-type {
		display: inline-block;
		vertical-align: middle;
		color: $white;
		text-transform: uppercase;
		font-weight: 400;
		@include adaptiveValue("font-size", 18, 14, 1920, 768, 1);
		@include adaptiveValue("line-height", 32, 26, 1920, 768, 1);
	}

	// = BORDERS = //
	&__category-border {
		display: inline-block;
		vertical-align: middle;
		color: $white;
		padding: 0px 5px 0px 5px;
		@include adaptiveValue("font-size", 12, 8, 1920, 768, 1);
		@include adaptiveValue("line-height", 32, 26, 1920, 768, 1);
	}

	// === CARD TITLE === //
	&__title {
		width: 100%;
		color: $white;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 30, 18, 1920, 768, 1);
		@include adaptiveValue("line-height", 36, 20, 1920, 768, 1);
	}

	// === CARD SUBTITLE === //
	&__subtitle {
		margin: 0;
		padding: 10px 0 0 0;
		color: $white;
		font-size: 14px;
		letter-spacing: 2px;
		font-weight: 400;
		text-transform: uppercase;
	}
}

// === CARD:HOVER === //

.card:hover .card__thumb img {
	opacity: 0.8;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	transition: all 0.8s ease 0s;
}

// === CARD PUB === //
