// === PUBLICATION === //

.publication {
	// = SIDEBAR = //
	&__sidebar {
		.spollers__item {
			margin: 88px 0px 0px 0px;
			@media (max-width: rem(991.98)) {
				margin: 0px 0px 0px 0px;
			}
		}
		// .page-two-columns__sidebar-spollers {
		// 	margin: 10px 0px 10px 0px;

		// 	@media (max-width: rem(1274.98)) {
		// 		width: 100%;
		// 		display: grid;
		// 		grid-template-columns: 1fr 1fr 1fr 1fr;
		// 		gap: rem(20);
		// 	}
		// 	@media (max-width: rem(934.98)) {
		// 		grid-template-columns: 1fr 1fr;
		// 	}
		// 	@media (max-width: rem(619.98)) {
		// 		grid-template-columns: 1fr;
		// 	}
		// }
	}

	// = PHOTO & VIDEO = //
	&__photo {
		position: relative;
		max-height: rem(650);
		height: rem(650);
		//padding: 0px 0px 75% 0px;
		overflow: hidden;
		margin: 20px 0px 10px 0px;
		border-radius: rem(10);
		border: rem(1) solid $color-base-1;

		@media (max-width: rem(1600)) {
			@include adaptiveValue("height", 650, 350, 1600, 991.98, 1);
		}
		@media (max-width: rem(991.98)) {
			@include adaptiveValue("height", 550, 180, 991.98, 320, 1);
			margin: 10px 0px 20px 0px;
		}
		@media (max-width: rem(599.98)) {
			margin: 10px 0px 10px 0px;
		}
	}
	&__image {
		height: rem(259);
		width: rem(437);
		margin: 0px 0px 20px 0px;
		border: rem(1) solid $color-base-1;
		border-radius: rem(3);
		@media (max-width: rem(1099)) {
			width: 100%;
			height: rem(380);
		}
	}
	&__image img {
		object-position: top;
	}
	&__img {
		height: rem(160);
		width: rem(160);
	}
	&__img-left {
		float: left;
		margin: 0px 20px 0px 0px;
	}
	&__img-right {
		float: right;
		margin: 0px 0px 0px 20px;
	}
	&__video {
		position: relative;
		overflow: hidden;
		aspect-ratio: 16 / 9;
		margin: 20px 0px 20px 0px;
		border-radius: rem(10);
		border: rem(1) solid $color-base-1;
	}
	&__video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// = BOX = //
	&__box {
		position: relative;
		display: grid;
		grid-template-columns: 48px 1fr;
		gap: rem(20);
		@media (max-width: rem(599.98)) {
			display: flex;
			gap: rem(10);
			flex-direction: column-reverse;
		}
	}
	&__video-box {
		// = ICONS = //
		.publication__icons {
			margin: 20px 0px 0px 0px;
			width: 100%;
			height: rem(54);
			grid-row: 2 / span 1;
		}
		.publication__icons-list {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}

		.publication__icons-link {
			cursor: pointer;
			margin-bottom: 0px;
			display: block;
			width: rem(56);
			height: rem(56);
		}
	}

	// = CONTENT = //
	&__content {
		grid-column: 2 / span 1;
		@media (max-width: rem(599.98)) {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}
	}

	// = CATEGORY = //
	&__category {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: start;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 20, 14, 1600, 650, 1);
		color: $color-base-4;
		line-height: 150%;
	}

	// = TYPE = //
	&__type {
		width: fit-content;
		position: absolute;
		left: 0;
		//bottom: rem(10);
		bottom: 0;
		//display: flex;
		//justify-content: flex-start;
		//align-items: center;
		padding: 12px 24px 12px 24px;
		text-align: center;
		letter-spacing: rem(2);
		text-transform: uppercase;
		@include adaptiveValue("font-size", 20, 16, 1600, 650, 1);
		background-color: $color-base-1;
		color: $white;
		line-height: 150%;
		z-index: 2;
		border-radius: 0px rem(10) 0px 0px;
		@media (max-width: rem(599.98)) {
			padding: 6px 10px 6px 10px;
			text-align: start;
			font-size: rem(14);
		}
	}

	// = DATE = //
	&__date {
		width: 100%;
		font-family: $fontFamily;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: end;
		@include adaptiveValue("font-size", 22, 18, 1600, 650, 1);
		color: $color-base-5;
		line-height: 150%;
	}

	// = SUBTITLE = //
	&__subtitle {
		font-size: rem(24);
		font-weight: 700;
		line-height: 1.6;
		color: $color-base-5;
		span {
			font-family: $fontFamily;
		}
		@media (max-width: rem(649.98)) {
			@include adaptiveValue("font-size", 24, 22, 649.98, 340, 1);
		}
	}

	// = ICONS = //
	&__icons {
		margin: 20px 0px 0px 0px;
		grid-column: 1 / span 1;
		width: rem(54);
		height: rem(330);
		@media (max-width: rem(599.98)) {
			width: 100%;
			height: rem(54);
			grid-row: 2 / span 1;
		}
	}
	&__icons-list {
		@media (max-width: rem(599.98)) {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
	}
	&__icons-list li {
	}
	&__icons-link {
		cursor: pointer;
		margin-bottom: rem(20);
		display: block;
		width: rem(56);
		height: rem(56);
		@media (max-width: rem(599.98)) {
			margin-bottom: 0px;
			//width: rem(40);
			//height: rem(40);
		}
	}

	// = SIGNATURE = //
	// = SIGNATURE-LIST = //
	&__signature-list {
		margin: 10px 0px 10px 0px;
		font-size: rem(22);
		line-height: 1.6;
		@media (max-width: rem(649.98)) {
			@include adaptiveValue("font-size", 22, 20, 649.98, 340, 1);
		}
	}
	// = SIGNATURE-ITEM = //
	&__signature-item {
		display: flex;
		align-items: center;
		gap: rem(5);
		margin: 0px 0px 10px 0px;
	}
	// = SIGNATURE-TEXT = //
	&__signature-text {
		display: inline-block;
		font-weight: 700;
		color: $color-base-5;
	}
	// = SIGNATURE-LINK = //
	&__signature-link {
		display: inline-block;
		color: $color-base-4;
	}
}
