// === CARD PUBLICATION === //
.card {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 100%;
	//@include adaptiveValue("min-height", 520, 420, 1400, 768, 1);
	@media (min-width: rem(767.98)) {
		min-height: rem(420);
	}
	min-width: rem(230);
	background: $color-base-1;
	overflow: hidden;
	border-radius: rem(10);
	z-index: 2;
	transition: all 0.5s ease 0s;

	@media (max-width: rem(767.98)) {
		@include adaptiveValue("min-height", 320, 250, 799.98, 360, 1);
	}

	// === CARD THUMB === //
	&__thumb {
		position: relative;
		padding: 0px 0px 66% 0px;
		overflow: hidden;
		@media (max-width: rem(991.98)) {
			padding: 0px 0px 76% 0px;
		}
		@media (max-width: rem(879.98)) {
			padding: 0px 0px 86% 0px;
		}
		@media (max-width: rem(767.98)) {
			padding: 0px 0px 76% 0px;
		}
		@media (max-width: rem(649.98)) {
			padding: 0px 0px 86% 0px;
		}
		@media (max-width: rem(499.98)) {
			padding: 0px 0px 96% 0px;
		}
		@media (max-width: rem(449.98)) {
			padding: 0px 0px 106% 0px;
		}
		@media (max-width: rem(409.98)) {
			padding: 0px 0px 120% 0px;
		}
		@media (max-width: rem(369.98)) {
			padding: 0px 0px 140% 0px;
		}
	}
	&__thumb img {
		object-position: top;
	}

	// === CARD BODY === //
	&__body {
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(46, 0, 106, 0) 0%, rgba(46, 0, 106, 0.6) 100%);
		padding: 20px;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: flex-start;
	}

	// === CARD CATEGORY === //

	&__category {
		position: absolute;
		top: 0;
		right: 0;
		padding: 8px 16px 8px 16px;
		background: $color-base-1;
		border-radius: 0px 10px 0px 10px;
		color: $white;
		z-index: 5;
	}

	&__category-date,
	&__category-type {
		display: inline-block;
		vertical-align: middle;
		color: $white;
		text-transform: uppercase;
		font-weight: 700;
		@include adaptiveValue("font-size", 22, 18, 1400, 768, 1);
		@include adaptiveValue("line-height", 24, 20, 1400, 768, 1);
	}

	// = BORDERS = //
	&__category-border {
		display: inline-block;
		vertical-align: middle;
		color: $white;
		font-weight: 700;
		padding: 0px 5px 0px 5px;
		opacity: 0.5;
		@include adaptiveValue("font-size", 14, 10, 1400, 768, 1);
		@include adaptiveValue("line-height", 24, 20, 1400, 768, 1);
	}

	// === CARD TITLE === //
	&__title {
		width: 100%;
		color: $white;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 30, 24, 1400, 768, 1);
		@include adaptiveValue("line-height", 36, 26, 1400, 768, 1);
		@media (max-width: rem(767.98)) {
			@include adaptiveValue("font-size", 24, 20, 767.98, 400, 1);
			@include adaptiveValue("line-height", 26, 22, 767.98, 400, 1);
		}
	}

	// === CARD SUBTITLE === //
	&__subtitle {
		margin: 0;
		padding: 10px 0 0 0;
		color: $white;
		font-size: 18px;
		line-height: rem(24);
		font-weight: 400;
		text-transform: uppercase;
	}
}

// === CARD:HOVER === //

.card:hover .card__thumb img {
	opacity: 0.8;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	transition: all 0.5s ease 0s;
}

// === CARD PUB === //
