.base-profile {
	&__header {
		overflow: hidden;
		margin: 0px 0px 40px 0px;
	}
	&__body {
		//overflow: hidden;
		margin: 0px 0px 40px 0px;
	}
	&__footer {
		overflow: hidden;
		margin: 0px 0px 40px 0px;
	}
	&__container {
		overflow: hidden;
	}
}
