.standing {
	// === STANDING SPOLLERS === //
	&__spollers {
		display: grid;
	}

	&__spollers-item {
		font-size: rem(18);
		height: auto;
	}

	&__spollers-title {
		width: 100%;
		cursor: default;
		text-align: left;
		position: relative;
		font-size: rem(16);
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: rem(1.5);
		background-color: $color-base-1;
		color: $white;
		._spoller-init & {
			cursor: pointer;
			border: 1px solid $color-base-1;
			padding: rem(10) rem(15);
			border-radius: rem(3);
			margin-bottom: rem(10);
			//&::before,
			&::after {
				content: "";
				position: absolute;
				top: rem(15);
				height: 0;
				width: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 10px solid $white;
				transition: transform 0.5s ease 0s;
			}
			// &::before {
			// 	left: rem(12);
			// }
			&::after {
				right: rem(12);
			}
			&._spoller-active {
				&::before {
					transition: transform 0.5s ease 0s;
					transform: rotate(180deg);
				}
				&::after {
					transition: transform 0.5s ease 0s;
					transform: rotate(180deg);
				}
			}
		}
		@media (min-width: rem(949.98)) {
			display: none;
		}
	}

	&__spollers-body {
	}

	// === STANDING BOX === //
	&__box {
		margin: 0px 0px 50px 0px;
	}
	// === STANDING NAV & FORM === //
	&__nav {
		margin: 0px 0px 30px 0px;
	}

	&__form {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		@include adaptiveValue("gap", 40, 10, 1600, 949.98, 1);
		@media (max-width: rem(949.98)) {
			grid-template-columns: 1fr;
		}
	}
}
